@{
    Nimbus.Plumbing.NimbusUser user = (Context.User.Identity as Nimbus.Plumbing.NimbusUser);

}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/Styles/Style.css" />

    <title>@ViewBag.Title - Nimbus</title>

</head>
<body>
    @* não esquecer de minificar =) *@
    @Scripts.Render(("~/Scripts/modal.js"))
    @Styles.Render(("~/Styles/modal.css"))
    @Scripts.Render(("~/Scripts/ScriptsShared.js"))
    @Scripts.Render(("~/Scripts/jquery-2.0.3.js"))

    <div id="wrap">
        <header id="header">
            <div class="container">
                <nav class="logo">
                    <ul class="sbs">
                        <li><div class="userlogo"></div></li>
                        <!-- <img src="userlogo.png"> -->
                        <li><h1>Logo</h1></li>
                    </ul>
                </nav>

                <nav class="center">
                    <ul class="sbs">
                        <li class="BSearch" id="aOpenDivSearch" onclick="openDivSearch();">Search</li>
                        <li class="BTrTop">Trending</li>
                        <li class="BTop">Top</li>
                        <li class="BNews">News</li>
                    </ul>
                </nav>
                @if (user != null)
                {
                    <nav class="right">
                        <ul class="sbs">
                                <li><div class="userpic" onclick="window.location.href('/userprofile/index/@user.UserId')"><img src="@user.AvatarUrl" width="35" height="35" id="smallavatar" /></div></li>
                                <li><h2 class="userName" onclick="window.location.href('/userprofile/index/@user.UserId')">@user.FirstName</h2></li>
                                <li><div class="press exitbutton"><a class="exit" href="/login/logout">Sair</a></div></li>
                        </ul>
                    </nav>
                }
            </div>       
        </header>

        <div class="wrapper">
            <div id="divBarSearch" style="display:none;">               
                        <input id="txtFieldSearch" style="width:350px;" type="text" value="Busque por canais, tópicos ou pessoas" onclick="this.value=''" />
                        <select id="slcFilterSearch">
                                <option value="0">Todos</option>
                                <option value="1">Canal</option>
                                <option value="2">Tópico</option>
                                <option value="3">Usuário</option>
                            </select>
                       <img src="/images/utils/search.png" title="Buscar" class="cpointer" alt="Buscar" onclick="ajaxSearch();" />
            </div>
            <div class="container-body">
                <div class="middle-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="footer">
            <!-- blablablabla-->
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/jquery.signalR-2.0.0.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/Notifications.js")
    }

</body>
</html>
