@{
    Nimbus.Plumbing.NimbusUser user = (Context.User.Identity as Nimbus.Plumbing.NimbusUser);

}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/Styles/Style.css" />
    <title>@ViewBag.Title - Nimbus</title>

</head>
<body>
    @* não esquecer de minificar =) *@
    @Scripts.Render(("~/Scripts/modal.js"))
    @Styles.Render(("~/Styles/modal.css"))
    @Scripts.Render(("~/Scripts/ScriptsShared.js"))
    @Scripts.Render(("~/Scripts/jquery-2.0.3.js"))

    <script type="text/javascript">
        function PositionFooter() {
            var $footer = $("#footer"), footerHeight = $footer.height(),
            footerTop = ($(window).scrollTop() + $(window).height() - footerHeight) + "px";

            if (($(document.body).height() + footerHeight) < $(window).height()) {
                $footer.css({ position: "absolute", top: footerTop });
            }
            else { $footer.css({ position: "static" }); }
        }

        function GerenciarFooter() {
            $(window).resize(PositionFooter)
            PositionFooter();
        }

        $(document).ready(function () {
            GerenciarFooter();
        });
    </script>
    
    <div id="wrap">
        <header id="header">
            <div class="container">
                <nav class="logo">
                    <ul class="sbs">
                        <li>
                            <div class="userlogo">
                                <img class="imgLogo" src="/images/utils/iconeLogo.png" />
                            </div>
                        </li>

                        <li><h1 class="textColorNimbus">Nimbus</h1></li>
                    </ul>
                </nav>
            </div>       
        </header>            

        <div id="divLeftLayout">

        </div>

        <div class="middle-body" id="divCenterLayout">
            @RenderBody()
        </div>

        <div id="divRightLayout">

        </div>

        <div id="footer" class="footerMainPage">
            <nav class="navFooMainPage">
                <ul class="ulFooPage">
                    <li><a class="linkFooter" href="/nimbus/faq">FAQ</a></li>
                    <li><a class="linkFooter" href="/nimbus/faleconosco">Fale Conosco</a></li>
                    <li><a class="linkFooter" href="/nimbus/quemsomos">Quem Somos</a></li>
                    <li><a class="linkFooter" href="/nimbus/novidades">Vem por aí</a></li>
                    <li><a class="linkFooter" href="/nimbus/termosdeuso">Termos de uso</a></li>
                </ul>
            </nav>
        </div> 
    </div>


    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/jquery.signalR-2.0.0.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/Notifications.js")
    }

</body>
</html>
