@{
    Nimbus.Plumbing.NimbusUser user = (Context.User.Identity as Nimbus.Plumbing.NimbusUser);

}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/Styles/Style.css" />
    <title>@ViewBag.Title - Nimbus</title>

</head>
<body>
    @* não esquecer de minificar =) *@
    @Scripts.Render(("~/Scripts/modal.js"))
    @Styles.Render(("~/Styles/modal.css"))
    @Scripts.Render(("~/Scripts/ScriptsShared.js"))
    @Scripts.Render(("~/Scripts/jquery-2.0.3.js"))

    <div id="wrap">
        <header id="header">
            <div class="container">
                <nav class="logo">
                    <ul class="sbs">
                        <li><div class="userlogo"></div></li>
                        <li><img src="/images/utils/iconeLogo.png" /></li>
                        <li><h1 class="userlogotext">Nimbus</h1></li>
                    </ul>
                </nav>
            </div>       
        </header>

        <div class="wrapper">
            <div class="container-body">
                <div class="middle-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div id="footer">
            <!-- blablablabla-->
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/Scripts/jquery.signalR-2.0.0.js")
        @Scripts.Render("~/signalr/hubs")
        @Scripts.Render("~/Scripts/Notifications.js")
    }

</body>
</html>
