@using System.Collections.Generic;
@using Nimbus.Model.Bags;
@using Nimbus.Model.ORM;
@model List<ChannelBag>

@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

@Scripts.Render("~/Scripts/ViewTopicScripts.js")

<script>
    countCat = 0;
</script>

<div class="content-top">
    <div class="cont-left">
        <h1>Categorias</h1>
    </div>
    <section class="sectionCategoryPage">
        <input type="hidden" value="@ViewBag.totalCategory" id="hdnTotalCategory" />
        <div class="divBacktCat press" onclick="getMoreCategory('back');">
            -
        </div>
    <div id="divShowCat" class="divShowCat">       
        @foreach (var item in (List<Category>)ViewBag.lstCat)
        {
            <div class="imgCategoryPage">
                <img src="@item.ImageUrl" title="@item.Name" alt="@item.Name" />
            </div>
        }
    </div>
        <div class="divNextCat press" onclick="getMoreCategory('next');">
            +
        </div>
   
    </section>
</div>

<div id="divAllChnCategory">

</div>