@using System.Collections.Generic;
@using Nimbus.Model.ORM;
@model List<Nimbus.Model.ORM.Channel>

@{Layout = "~/Website/Views/Shared/_Layout.cshtml";}

@Scripts.Render("~/Scripts/ViewTopicScripts.js")

<script>
    countCat = 0;
</script>

<div class="content-top">
    <div class="cont-left">
        <h1>Categorias</h1>
    </div>
    <section class="sectionCategoryPage">
        <input type="hidden" value="@ViewBag.totalCategory" id="hdnTotalCategory" />
        <div class="divBacktCat" onclick="getMoreCategory('back');">
            <img src="/images/utils/esquerda-cinza.png" id="imgBackCtg" />
        </div>

        <div id="divShowCat" class="divShowCat">
            @foreach (var item in (List<Category>)ViewBag.lstCat)
            {
                <div class="imgCategoryPage" onclick="getAllChannels('@item.Id' , '@item.Name');">
                    <img src="@item.ImageUrl" title="@item.Name" alt="@item.Name" width="180" height="100"/>
                </div>
            }
        </div>


        <div id="divCtgLoad" style="display:none;">
            <div class="divGifLoad" style="width:70px; margin-top:9%;">
                <img src="/images/utils/loading.gif" class="imgGifLoad" id="imgNotificationLoad" />
            </div>
        </div>
        <div class="divNextCat" onclick="getMoreCategory('next');">
            <img src="/images/utils/direita-verde.png" id="imgNextCtg" />
        </div>
    </section>
</div>

<div>
    <h1 id="hTitleCategory" style="font-size:18px; margin-top:250px;"></h1>
    <div id="divAllChnCategory"></div>
</div>