@model Nimbus.Web.Website.Models.ChannelModel
@{
    string lastNotificationGuid;
    if (Model.ChannelNotifications.LastNotificationGuid == Guid.Empty)
    {
        lastNotificationGuid = "";
    }
    else
    {
        lastNotificationGuid = Model.ChannelNotifications.LastNotificationGuid.ToString();
    }
}
 

<script type="text/javascript">
    //global
    currentDiv = 'divNotifications';
    divTipoTopic = '';
    CurrentQuestion = '1';
    skipPopular = 1;
    skipAll = 1;
    skipComments = 1;
</script>

@Scripts.Render("~/Scripts/jquery.form.js")
@Styles.Render("~/Styles/jHtmlArea.css")
@Scripts.Render("~/Scripts/jhtmlarea-0.8.js")

<div class="wrapperChannel">
    <nav class="chanTopBar">
        <ul class="sbs">
            <li class="press"><a name="divNotifications" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar"><p>Atualizações</p></a></li>
            <li class="press"><a name="divPopularTopics" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar"><p>Mais vistos</p></a></li>
            <li class="press"><a name="divAllTopics" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar"><p>Todos</p></a></li>
            <li class="press"><a name="divNewTopic" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar"><p>Novo tópico</p></a></li>
            <li class="press"><a name="divMessages" onclick="EnableDiv(this.name, 'currentDiv', '');" class="linkTopChanBar"><p>Mensagens</p></a></li>
        </ul>
    </nav>

    <div>
        <div id="divPopularTopics" style="display:none;">
            <div id="popular">
                @foreach (var item in Model.AllTopics.OrderByDescending(m => m.Count))
                {
                    Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
                } 
              
            </div>
            @if (Model.AllTopics.Count() == 15)
              {
                <div class="seeMoreContent">
                    <div class="divGifLoad">
                        <img src="/images/utils/loading.gif" id="imgPopularLoad" class="imgGifLoad" style="display:none;" />
                    </div>
                 <div class="seeMoreButton" id="btn_skipPopular" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'popular', 0, 'skipPopular');"><p>Ver mais</p></div>                  
                </div>
              }                         
        </div>

        <div id="divAllTopics" style="display:none;">
            <div id="alltpc">
                @foreach (var item in Model.AllTopics.OrderByDescending(m => m.LastModified))
                {
                    Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
                }
            </div>
            @if (Model.AllTopics.Count() == 15)
               {
                   <div class="seeMoreContent">
                       <div class="divGifLoad">
                           <img src="/images/utils/loading.gif" class="imgGifLoad" style="display:none;" id="imgAllLoad" />
                       </div>
                       <div id="btn_skipAll" class="seeMoreButton" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'alltpc', 0, 'skipAll');"><p>Ver mais</p></div>
                   </div>
               }
         </div>
    
        <div id="divNotifications">
            <div id="divNotification">
                <div id="divNotificationWrapper">
                    @if (Model.ChannelNotifications.Count > 0)
                    {
                        //Renato: Verificar Html.Raw -- OK: passou no razor da API
                        @Html.Raw(Model.ChannelNotifications.Html);
                    }
                    else
                    {
                        <p>Não há novas atividades neste canal.</p>
                    }
                </div>
                @if (Model.ChannelNotifications.Count > 0)
                {
                    <div id="divNotificationLoad" >
                        <div class="divGifLoad">
                             <img src="/images/utils/loading.gif" class="imgGifLoad" style="display:none;" id="imgNotificationLoad" />
                        </div>
                        <div id="divNotificationLoadButton" style="display:block;" onclick="getChannelNotifications(@Model.CurrentChannel.Id, '@lastNotificationGuid');"><p>Carregar mais notificações</p></div>
                    </div>
                }
            </div>
            @if (Model.Comments.Count > 0)
            {
                <div id="divComments">
                    <p>Novos Comentários</p>
                    @foreach (var item in Model.Comments.OrderByDescending(c => c.PostedOn))
                    {
                        Html.RenderPartial("~/Website/Views/CommentPartials/PartialComment.cshtml", item);
                        
                    }  @if (Model.Comments.Count() == 5)
                    {
                        <div class="seeMoreContent"> 
                            
                        <div class="seeMoreButton" id="btn_skipComments" onclick="seeMoreComments(@Model.CurrentChannel.Id, 'divComments', 'skipComments','channel');">
                             <p>Ver mais</p>
                        </div></div>
                    }
               </div>
            }
        </div>

        <div id="divNewTopic" style="display:none;">

            <div class="divformNewChannel">
                <p>
                    Imagem ilustrativa
                </p>
                <div id="divImgTopico" style="display:none;">
                    <img id="imgPrevia" src="" height="100" width="150" />
                </div>
                <form action='/channel/upload' method="post" enctype="multipart/form-data" name="imagem_original">
                    <input type="file" name="inptImgTopic" id="inptImgTopic" />
                    <input type="submit" value="Carregar" class="hidden" style="display:none" id="upload" /><br />
                    <label>Imagem de no máx. 5MB</label>
                    <input type="hidden" id="url" name="url" />
                </form>
            </div>

            <form id="formCreateTopic" onsubmit="return false;">
                <div class="divformNewChannel">
                    <p>
                        Nome do Tópico
                    </p>
                    <input type="text" id="txtNameTopic" maxlength="50" min="5" required name="txtNameTopic" placeholder="Nome do Tópico" class="textBoxFormat" />
                </div>

                <div class="divformNewChannel">
                    <p>
                        Descricao
                    </p>
                    <textarea cols="30" rows="5" id="txtaDescription" maxlength="150" required name="txtaDescription" placeholder="Descrição do Tópico" class="textAreaFormat"></textarea>
                </div>

                <div class="divformNewChannel">
                    <p>
                        Tipo do Tópico
                    </p>
                    <div>
                        <label id="lblFile" onclick="EnableTwoDiv('divFile', 'divTipoTopic', 'divTypeTopic','');">Arquivo</label>
                        <label id="lblVideo" onclick="EnableTwoDiv('divVideo', 'divTipoTopic', 'divTypeTopic','inptVideo');">Vídeo</label>
                        <label id="lblText" onclick="EnableTwoDiv('divText', 'divTipoTopic', 'divTypeTopic','txtaArticle');">Artigo</label>
                        <label id="lblDiscussion" onclick="EnableTwoDiv('divDiscussion', 'divTipoTopic', 'divTypeTopic','txtaTextMsg');">Discussão</label>
                        <label id="lblExam" onclick="EnableTwoDiv('divExam', 'divTipoTopic', 'divTypeTopic','');">Avaliação</label>
                    </div>
                </div>


                <div id="divTypeTopic" style="display:none;">
                    <div id="divFile" style="display:none;" class="divformNewChannel">
                        <label>Upload de arquivo (máx. 5MB):</label><br />
                        <label>(docx, pdf, pptx, ppt, ppsx, pps, xlsx, xls)</label>
                        <iframe width="300" height="200" src="/upload?type=office&w=300&h=200&field=inptUrlFile" frameborder="0"></iframe>
                        <input type="hidden" id="inptUrlFile" />
                    </div>

                    <div id="divVideo" style="display:none;" class="divformNewChannel">
                        <input type="text" id="inptVideo" name="iptnamevideo" value="URL do vídeo" onfocus="javascript: this.value =''" onchange="getUrlVideo(this.name, 'divFrameVideo','iframeVideo');" placeholder="URL do Video" style="max-width: 384px; min-width: 384px" />
                        <label><br />Somente url do youtube</label><br />
                        <div id="divFrameVideo" style="display:none">
                            <iframe name="iframeVideo" width="420" height="345" id="iframeVideo" src=""></iframe>
                        </div>
                    </div>

                    <div id="divText" style="display:none;" class="divformNewChannel">
                        <textarea id="txtaArticle" placeholder="Escreva Aqui" class="textAreaFormat"></textarea>
                    </div>

                    <div id="divDiscussion" style="display:none;" class="divformNewChannel">
                        <p>
                            Questão em debate
                        </p>
                        <textarea id="txtaTextMsg" placeholder="Escreva Aqui" class="textAreaFormat"></textarea>
                    </div>

                    <div id="divExam" style="display:none;" class="divformNewChannel">
                        <div id="divPergunta1" class="divPergEditarNimbus">
                            <p>
                                Enunciado da questão
                            </p>
                            <input id="QuestionPerg1" class="enunciado" type="text" maxlength="600" />
                            <p>Respostas</p>
                            <div>
                                <ul id="ulPerg1">
                                    <li id="liPerg1_opt1">
                                        @*pergunta 1 _ opçao 1*@
                                        <input type="radio" class="rdbPergEditNimbus" name="radio_perg1" id="rdbPerg1_opt1" checked />
                                        <input id="txtPerg1_opt1" class="resposta" type="text" onfocus="javascript: this.value = ''" placeholder="Opção 1" />
                                    </li>
                                    <li id="liPerg1_opt2">
                                        <input type="radio" class="fakeDisableCkb rdbPergEditNimbus" name="radio_perg1" id="rdbPerg1_opt2" />
                                        <input id="txtPerg1_opt2" class="fakeDisable" onclick="DisableOption('2', 'divPergunta1');" type="text" placeholder="Opção 2" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="divformNewChannel">
                            <button id="bntAddItem" onclick="CreatedDivQuestion();">Criar nova questão</button>
                        </div>                      
                    </div>
                </div>

                <div class="divBtnNewChannel">
                    <input type="button" class="btnCancel" onclick="cancelNewTopic(@Model.CurrentChannel.Id);" value="Cancelar" />
                    <input type="submit" id="btnSalvar" class="divSaveNewChannel" value="Criar Tópico" onclick="SaveNewTopic(@Model.CurrentChannel.Id, false);" />
                </div>
            </form>
        </div>

        <div id="divMessages" style="display:none;">
            @if (Model.RolesCurrentUser.Contains("messagemanager"))
            {
                if(Model.Messages != null)
                { 
                    foreach (var item in Model.Messages)
                    {
                        //partial
                        Html.RenderPartial("~/Website/Views/MessagePartials/MessagePartial.cshtml", item);
                    }
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#txtaArticle').width(384);
        $('#txtaArticle').height(300);
        $('#txtaArticle').htmlarea();
        $('#txtaTextMsg').width(384);
        $('#txtaTextMsg').height(300);
        $('#txtaTextMsg').htmlarea();
    });
</script>

<script type="text/javascript">
    var jcrop;

    $(document).ready(function () {

        $(document).on('change', 'input[name=inptImgTopic]', function () {
            $("#upload").click();
        });

        $('form[name=imagem_original]').ajaxForm({
            dataType: 'json',
            success: function (data) {
                $('input[name=url]').val(data.url);
                $("#imgPrevia").attr("src", data.url);
                $("#divImgTopico").attr("style", "display:block");
            }
        });
    });

</script>