@model Nimbus.Web.Website.Models.ChannelModel
@{
    ViewBag.Title = "Canal";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

@Scripts.Render(("~/Scripts/jquery.form.js"))
@Scripts.Render("~/Scripts/jquery.autocomplete.js")

<script>
    currentChannel = @Model.CurrentChannel.Id;
    roles = @Html.Raw(Json.Encode(Model.RolesCurrentUser));    
</script>

<div id="divCapa">
    <img src="@Model.CurrentChannel.ImgUrl" id="imgCapa" height="192" alt="" width="864" />
    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
{
    if (Model.CurrentChannel.UserFollow == true && Model.CurrentChannel.isAccept == true)
    {
        <a href="#" onclick="ajaxFollowChannel(@Model.CurrentChannel.Id);">
            <div class="followChannelPage">
                <p id="pFollow">Deixar de seguir</p>
            </div>
        </a>
    }
    else if (Model.CurrentChannel.UserFollow == true && Model.CurrentChannel.isAccept == false)
    {

                 <div class="followChannelPage">
                     <p id="pFollow">Aguardando aprovação</p> 
                 </div>
    }
    else if(Model.CurrentChannel.UserFollow == false)
    {
        <a href="#" onclick="ajaxFollowChannel(@Model.CurrentChannel.Id);">
            <div class="followChannelPage">
                <p id="pFollow">Seguir</p>
            </div>
        </a>
    }

}
    else if (Model.CurrentChannel.OwnerId == Model.CurrentChannel.userID || Model.RolesCurrentUser.Contains("channelmanager")
                                                                         || Model.RolesCurrentUser.Contains("moderatormanager"))
    {
        <script>
            newModeratorId = null;
            countModerator = @Model.Moderators.Count();
        </script>
        <a href="#modal-edit" onclick="ajaxLoadEditInfo(@Model.CurrentChannel.Id, true);">
            <div class="followChannelPage">
                <p>Editar</p>
            </div>
        </a>
    }
</div>


<div id="nameChannelPage">
    <h1>@Model.CurrentChannel.Name</h1>
</div>

<div id="divInfCanal">
    <p>Dono:<a href="/userprofile" class="nameOwner"> @Model.CurrentChannel.OwnerName</a></p>
    <p>Moderadores:</p>
    <div id="divAllModerators">
        @foreach (var item in Model.Moderators)
        {
            <p>
                <a href="/userprofile/index/@item.Id" class="nameMod"> @item.FirstName @item.LastName</a>
            </p>
        }      
    </div>

    <div class="infoTitleChannel">
        <h2>Número de seguidores</h2>
        <p class="numberIco">
            @*colocar icone de total de seguidores*@
            @Model.CurrentChannel.countFollowers
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Nota do canal</h2>
        <p class="numberIco">
            @*colocar icone pontuaçao*@
            @Model.CurrentChannel.CountVotes
        </p>
    </div>

    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <a href="#modal-text" class="call-modal">
            <div class="sendMessage">
                <p>Enviar Mensagem</p> <!-- clicavel -->
            </div>
        </a>
    }

    <div class="infoTitleChannel">
        <h2>Participação</h2>
            @if (Model.CurrentChannel.participationChannel == "0%")
            {
                <p id="txtPartChannel">
                    Você ainda não participou deste canal.<br>
                    Desfrute do conteúdo e torne-se ativo para aumentar sua porcentagem!
                </p>
            }
            else
            {
                <p class="numberIco">
                    @*colocar icone participacao*@
                    @Model.CurrentChannel.participationChannel
                </p>
            }
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Tags</h2>
        <p class="tagChannel">
            @foreach (var item in Model.Tags)
            {
                <label id="lblTag_@item.Id">#@item.TagName</label>
            }
        </p>
    </div>   

    <div class="infoTitleChannel divCanaisRelacionados">
        <h2>Canais Relacionados</h2>
        <div class="channels">
            @* Editar essa parte para que mostre os canais relacionados ( copiei da userprofile )
            @foreach (var item in Model.ChannelPaid)
            {
                <div class="chanPaidImg">
                    <img src="@item.ImgUrl" alt="@item.Name" width="40" height="40" />
                </div>
            }*@
        </div>
    </div>

</div>

<div style="float:left;">
    @if (Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager")
        || Model.RolesCurrentUser.Contains("usermanager") || Model.RolesCurrentUser.Contains("messagemanager"))
    {
        @RenderPage("~/Website/Views/ChannelPrivateTopBar.cshtml")
    }
    else
    {
        @RenderPage("~/Website/Views/ChannelPublicTopBar.cshtml")
    }
</div>

@*Modal para enviar msg*@
<section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Mensagem
        </header>

        @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
        {
            <div class="modal-content">
                    <!-- The modals content -->
                    <p>
                        Para:
                        <input type="text" name="txtOwnerName" value="@Model.CurrentChannel.OwnerName" disabled="disabled" />
                    </p>
                    <p>
                        Cc:
                        <textarea name="txtaCc" disabled="disabled" cols="40" rows="5">
                            @if (Model.Moderators.Count > 0)
                            {
                                foreach (var item in Model.Moderators)
                                {
                                    @item.FirstName @item.LastName
                                }
                            }
                            else
                            {
                                <text>Apenas o dono do canal poderá receber está mensagem.</text>
                            }
                        </textarea>
                    </p>
                    <p>
                        Assunto:
                        <input id="txtTitleMsg" name="txtTitleMsg" type="text" maxlength="100" />
                    </p><br />
                    <p>
                        <textarea id="txtTextMsg" name="txtTextMsg" rows="10" cols="60" class="ckeditor"></textarea>
                    </p>
            </div>

            <footer>
                <!-- Footer -->
                <button id="btnEnviar" onclick="ajaxSendMessage(@Model.CurrentChannel.Id);">Enviar</button>
            </footer>
        }
    </div>

    <a href="#!" id="closeModal" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Modal para editar Tags*@
<section class="semantic-content" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Editar canal
        </header>

        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
        {
            <div>
                <p>Nome do canal:</p>
                <input id="txtEditTitle" type="text" value="@Model.CurrentChannel.Name" maxlength="150" />
                <p>
                    Categoria:
                    <select id="slcCategory" name="slcCategory">
                        @foreach (var item in Model.Category.OrderBy(c => c.Name))
                        {
                            if(item.Id == Model.CurrentChannel.CategoryId)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </p>

                <p>
                    Aberto para comentários:
                    @if(Model.CurrentChannel.OpenToComments == true)
                    { 
                        <input type="radio" name="openComment" value="Sim" checked required />                         
                        <input type="radio" name="openComment" value="Não" required />                                                                                            
                    }
                    else
                    { 
                        <input type="radio" name="openComment" value="Sim"  required /> 
                        <input type="radio" name="openComment" value="Não" checked required />
                    }                                                                                      
                </p>
                
            </div>
        }

        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId
            || Model.RolesCurrentUser.Contains("moderatormanager"))
        {
            <div>
                <p>Moderadores:</p>
                <div id="divEditModerators" class="modal-content">
                    <!-- The modals content -->
                    <!--Incluido por pelo js ajaxLoadTags-->
                </div>
            </div>
        }
        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
        {
                   /*editar as tags*/
                    <div>
                        <p>Tags:</p>
                        <div id="divTags" class="modal-content">
                            <!--Incluido por pelo js ajaxLoadTags-->
                        </div>
                        <button id="btnSaveTag" onclick="ajaxEditTag(@Model.CurrentChannel.Id);">Salvar</button>
                    </div>

                    <footer>
                     <!-- Footer -->
                        <button id="btnSaveAllEdit" onclick="ajaxSaveAllEdit(@Model.CurrentChannel.Id);">Salvar</button>
                    </footer>
        }
        else
        {
            <p>Você não permissão para realizar esta operação.</p>
        }
    </div>

    <a href="#!" id="closeModalEdit" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>


@*Sempre manter no fim da página*@
<script type="text/javascript">
    CKEDITOR.replace('txtTextMsg', {
        toolbar: [
            { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
            ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
            '/',																					// Line break - next group will be placed in new line.
            { name: 'basicstyles', items: ['Bold', 'Italic'] }
        ]
    });

</script>
@Scripts.Render("~/Scripts/ViewChannelScripts.js")
