@model Nimbus.Web.Website.Models.ChannelModel
@{
    ViewBag.Title = "Canal";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/ScriptsShared.js")
@Scripts.Render("~/Scripts/jquery.form.js")
@Scripts.Render("~/Scripts/jquery.autocomplete.js")
@Styles.Render("~/Styles/jHtmlArea.css")
@Scripts.Render("~/Scripts/jHtmlArea-0.8.js")

@* Renato: o Html.Raw abaixo está OK *@
<script>
    currentChannel = @Model.CurrentChannel.Id;
    roles = @Html.Raw(Json.Encode(Model.RolesCurrentUser));   
    countFollowers = @Model.CurrentChannel.countFollowers;
    voteUser = @Model.CurrentChannel.UserVoteChannel;
</script>

<div id="divCapa">
    <img src="@Model.CurrentChannel.ImgUrl" id="imgCapa" height="192" alt="" width="864" />
    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
    if (Model.CurrentChannel.UserFollow == true && Model.CurrentChannel.isAccept == true)
    {
        <a href="#" onclick="ajaxFollowChannel(@Model.CurrentChannel.Id);">
            <div class="followChannelPage">
                <p id="pFollow">Não seguir</p>
            </div>
        </a>
    }
    else if (Model.CurrentChannel.UserFollow == true && Model.CurrentChannel.isAccept == false)
    {

                 <div class="followChannelPage">
                     <p id="pFollow">Aguardando aprovação</p> 
                 </div>
    }
    else if(Model.CurrentChannel.UserFollow == false)
    {
        <a href="#" onclick="ajaxFollowChannel(@Model.CurrentChannel.Id);">
            <div class="followChannelPage">
                <p id="pFollow">Seguir</p>
            </div>
        </a>
    }

}
    else if (Model.CurrentChannel.OwnerId == Model.CurrentChannel.userID || Model.RolesCurrentUser.Contains("channelmanager")
                                                                         || Model.RolesCurrentUser.Contains("moderatormanager"))
    {
        <script>
            newModeratorId = null;
            countModerator = @Model.Moderators.Count();
        </script>
        <a href="#modal-edit" onclick="ajaxLoadEditInfo(@Model.CurrentChannel.Id, true);">
            <div class="followChannelPage">
                <p>Editar</p>
            </div>
        </a>
    }
</div>

@** começo da parte só do channel*@
<div id="nameChannelPage">
    <h1 id="hChannelName">@Model.CurrentChannel.Name</h1>
</div>

<div id="divInfCanal">
 
    <p id="pTopicDescription">@Model.CurrentChannel.Description</p>
  <br />
    <p>Dono:<a href="/userprofile/index/@Model.CurrentChannel.OwnerId" class="nameOwner"> @Model.CurrentChannel.OwnerName</a></p>
    @if (Model.Moderators.Count > 0) { 
    <p>Moderadores:</p>
    }
    <div id="divAllModerators">
        @foreach (var item in Model.Moderators)
        {
            <p>
                <a href="/userprofile/index/@item.Id" class="nameMod"> @item.FirstName @item.LastName</a>
            </p>
        }      
    </div>

    <div class="infoTitleChannel">
        <h2>Seguidores</h2>
        <p id="pCountFollowers" class="numberIco">
            @*colocar icone de total de seguidores*@            
            @Model.CurrentChannel.countFollowers
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Nota do canal</h2>
        <p id="countVtsChannel" class="numberIco">
            @Model.CurrentChannel.CountVotes
        </p>
        @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId && !(Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager")
        || Model.RolesCurrentUser.Contains("usermanager") || Model.RolesCurrentUser.Contains("messagemanager")))
        {
            <div style="padding-bottom:40px;">
                Vote:
                <div>
                 @{
                     int total = 0;
                    for (int i = 1; i <= Model.CurrentChannel.UserVoteChannel; i++)
                    {              
                       <div onmouseover="changeStarVote(this.id, 'over');" onmouseout="changeStarVote(this.id, 'out');" class="imgStarGreen" onclick="ajaxVoteChannel(@Model.CurrentChannel.Id, @i);" id="icoStar_@i"></div>
                        total = i;
                    }
                    if (total < 5 && Model.CurrentChannel.UserVoteChannel > 0)
                    {
                        for (int j = total + 1; j <= 5; j++)
                        {
                                <div onmouseover="changeStarVote(this.id, 'over');" onmouseout="changeStarVote(this.id, 'out');" class="imgStarGray" onclick="ajaxVoteChannel(@Model.CurrentChannel.Id, @j);" id="icoStar_@j"></div>
                        }
                    }
                  }

                    @if (Model.CurrentChannel.UserVoteChannel == 0)
                    {
                        for (int i = 1; i <= 5; i++)
                        {
                            <div onmouseover="changeStarVote(this.id, 'over');" onmouseout="changeStarVote(this.id, 'out');" class="imgStarGray" onclick="ajaxVoteChannel(@Model.CurrentChannel.Id, @i);" id="icoStar_@i"></div>
                        }
                    }                  
                </div>
            </div>
        }
    </div>

    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <a href="#modal-text" class="call-modal">
            <div class="sendMessage">
                <p>Enviar Mensagem</p> <!-- clicavel -->
            </div>
        </a>
    }

    <div class="infoTitleChannel">
        <h2>Participação</h2>
            @if (Model.CurrentChannel.participationChannel == "0%")
            {
                <p id="txtPartChannel">
                    Você ainda não participou deste canal.<br>
                    Desfrute do conteúdo e torne-se ativo para aumentar sua porcentagem!
                </p>
            }
            else
            {
                <p class="numberIco">
                    @Model.CurrentChannel.participationChannel %
                </p>
            }
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Tags</h2>
        <p id="tagChannel" class="tagChannel">
            @foreach (var item in Model.Tags)
            {
                <label id="lblTag_@item.Id">#@item.TagName</label>
            }
        </p>
    </div>   

    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId && !Model.RolesCurrentUser.Contains("channelmanager")
        && !Model.RolesCurrentUser.Contains("topicmanager"))
    {
        <div id="btnReportChannel" style="width:120px;">
            <a href="#modal-reportChannel" class="call-modal">
                <p> Reportar canal </p>
            </a>
        </div>
    }

    <div class="infoTitleChannel divCanaisRelacionados">
        <h2>Canais Relacionados</h2>
        <div class="channels">
                @foreach (var item in Model.RelatedChannels)
                {
                    //partial
                    Html.RenderPartial("~/Website/Views/ChannelPartials/ChannelRelatedPartial.cshtml", item);

                }
            </div>
    </div>

</div>

<div style="float:left;">
    @if (Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager")
        || Model.RolesCurrentUser.Contains("usermanager") || Model.RolesCurrentUser.Contains("messagemanager"))
    {
        @RenderPage("~/Website/Views/ChannelPrivateTopBar.cshtml")
    }
    else
    {
        @RenderPage("~/Website/Views/ChannelPublicTopBar.cshtml")
    }
</div>

@*Modal para enviar msg*@
<section class="semantic-content" id="modal-text" style="height:700px;" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Mensagem
        </header>

        @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
        {
            <form id="formSendMsgChannel" onsubmit="return false;">
                <div class="modal-content">
                    <!-- The modals content -->
                    <div class="divformModal">
                        <p>Para</p>
                        <input type="text" name="txtOwnerName" value="@Model.CurrentChannel.OwnerName" disabled="disabled" />
                    </div>

                    
                        @{
                    int countMod = Model.Moderators.Count;
                    if (countMod > 0)
                    {
                        <div class="divformModal">
                            <p>De/CC</p>
                        @for (int i = 0; i < countMod; i++)
                        {
                            string virgula = "; ";
                            if (i == countMod - 1) { virgula = ""; }
                            var mod = Model.Moderators[i];
                                <p>@mod.FirstName @mod.LastName@virgula</p>
                        }
                        </div>
                    }
                        }
                    
                    <div class="divformModal">
                        <p>Assunto</p>
                        <input required id="txtTitleMsg" name="txtTitleMsg" type="text" maxlength="100" />
                    </div>
                </div>

                <footer class="fooModal">
                    <!-- Footer -->
                    <input type="submit" class="inputSubmit" id="btnEnviar" onclick="ajaxSendMessage(@Model.CurrentChannel.Id);" value="Enviar" />
                </footer>
            </form>
        }
    </div>

    <a href="#!" id="closeModal" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Modal para editar *@
<section class="semantic-content" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
                Editar canal
                @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentUser.UserId == Model.CurrentChannel.OwnerId)
                {
                    <a href="#" class="aChanDel" onclick="ajaxDeleteChannel(@Model.CurrentChannel.Id, @Model.CurrentUser.UserId);">
                        Deletar Canal <img src="/images/utils/delete.png" class="classChanDel" alt="Deletar canal" title="Deletar canal" />
                    </a>
                }
        </header>
        <form id="formEditChannel" onsubmit="return false;">
            <div class="modal-content">
                @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
                {
                            <div class="divformModal">
                                <p>Nome do Canal</p>
                                <input id="txtEditTitle" required type="text" value="@Model.CurrentChannel.Name" maxlength="100" />
                            </div>
                            <div class="divformModal">
                                <p>Descrição</p>
                                <textarea id="txtaDescription" name="txtaDescriptionEdit" maxlength="200">@Model.CurrentChannel.Description</textarea>
                                    </div>
                                    <div class="divformModal">
                                        <p>Categoria</p>
                                        <input id="txtEditTitle" required type="text" value="@Model.CurrentChannel.Name" maxlength="100" />
                                        <select id="slcCategory" required name="slcCategory">
                                            @foreach (var item in Model.Category.OrderBy(c => c.Name))
                                            {
                                                if (item.Id == Model.CurrentChannel.CategoryId)
                                                {
                                                            <option selected value="@item.Id">@item.Name</option>
                                                }
                                                else
                                                {
                                                            <option value="@item.Id">@item.Name</option>
                                                }
                                            }
                                                </select>
                                            </div>
                                            <div class="divformModal">
                                                <p>Aberto para comentários</p>
                                                @if (Model.CurrentChannel.OpenToComments == true)
                                                {
                                                            <input type="radio" name="openComment" value="sim" checked required /><text>Sim</text>
                                                                    <input type="radio" name="openComment" value="nao" required /><text>Não</text>
                                                }
                                                else
                                                {
                                                            <input type="radio" name="openComment" value="sim" required /><text>Sim</text>
                                                                    <input type="radio" name="openComment" value="nao" checked required /><text>Não</text>
                                                }
                                                    </div>
                }

                        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId
            || Model.RolesCurrentUser.Contains("moderatormanager"))
                        {
                                    <div class="divformModal">
                                        <p>Moderadores</p>
                                        <div id="divEditModerators">
                                            <!-- The modals content -->
                                             @* Incluido por pelo js ajaxLoadModeratorEdit *@
                                        </div>
                                    </div>
                        }
                                @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
                                {
                                    /*editar as tags*/
                                            <div class="divformModal">
                                                <p>Tags</p>
                                                <div id="divTags" class="modal-content">
                                                    <!--Incluido por pelo js ajaxLoadTags-->
                                                </div>
                                            </div>
                                }
                                else
                                {
                                            <div class="modal-content">
                                                <div class="divformModal">
                                                    <p>Você não permissão para realizar esta operação.</p>
                                                </div>
                                            </div>
                                }
                                    </div>
            <footer class="fooModal">
                <!-- Footer -->
                <input type="submit" class="inputSubmit" id="btnSaveAllEdit" onclick="ajaxSaveAllEdit(@Model.CurrentChannel.Id);" value="Salvar" />
            </footer>
        </form>
    </div>

    <a href="#!" id="closeModalEdit" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Modal para reportar canal*@

<section class="semantic-content" id="modal-reportChannel" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            Reportar canal
        </header>
        <form id="formReportChannel">
            <div class="modal-content">
                <!-- The modals content -->
                <div class="divformModal">
                    <p>Reportar</p>
                    <p class="modalUser">@Model.CurrentChannel.Name</p>
                </div>
                <div class="divformModal">
                    <p>Justificativa</p>
                    <textarea id="txtJustificativa" name="txtJustificativa" rows="10" cols="60" required></textarea>
                </div>
            </div>
            <footer class="fooModal">
                <!-- Footer -->
                <input type="submit" class="inputSubmit" value="Enviar" onclick="ajaxReportChannel(@Model.CurrentUser.UserId, @Model.CurrentChannel.OwnerId, @Model.CurrentChannel.Id);" id="enviarReportChn" />
            </footer>
        </form>
    </div>

    <a href="#!" id="closeModalMessage" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Sempre manter no fim da página*@
<script type="text/javascript">
    $(function () {
        $('#txtTextMsg').width(400);
        $('#txtTextMsg').height(500);
        $('#txtTextMsg').htmlarea();
    });
</script>

@Scripts.Render("~/Scripts/ViewTopicScripts.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")
