@model Nimbus.Web.Website.Models.ChannelModel

<script type="text/javascript">
    //global
    currentDiv = 'divNotification';
    skipPopular = 1;
    skipAll = 1;
</script>

<div class="wrapperChannel">
    <nav class="chanTopBar">
        <ul class="sbs">
            <li class="press"><a name="divAllTopics" onclick="EnableDiv(this.name, 'currentDiv');">Todos</a></li>
            <li class="press"><a name="divPopularTopics" onclick="EnableDiv(this.name, 'currentDiv');">Mais vistos</a></li>
            <li class="press"><a name="divNotification" onclick="EnableDiv(this.name, 'currentDiv');">Atualizações</a></li>
        </ul>
    </nav>

    <div id="divNotification">
        @foreach (var item in Model.AllTopics.Take(15).OrderByDescending(m => m.LastModified))
        {
            @*Imagem e texto*@
            <div class="divTopic-grade">
                <a href="/topic/index/@item.Id">
                    <div class="headerTopic-grade">
                        <h1>@item.Title</h1>
                        <img src="@item.ImgUrl" alt="@item.TopicType.ToString()" title="@item.Title" width="180" height="100">
                    </div>
                </a>
                <p class="contentTopic-grade">
                    @item.Description
                </p>
                <div class="footerTopic-grade">
                    <div class="btnLeftTopic-grade">
                        <p onclick="unReadLater();">Ler mais tarde</p> @*chamar js passando item.id*@
                    </div>
                    <div class="btnRightTopic-grade">
                        <p>s2</p> @*adicionar aos favoritos*@
                    </div>
                </div>
            </div>
        }   
    </div>

    <div id="divPopularTopics" style="display:none;">
        <div id="popular">
            @foreach (var item in Model.AllTopics.OrderByDescending(m => m.Count))
            {
                Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
            }
        </div>
        @if (Model.AllTopics.Count() == 15)
        {
            <button id="btn_skipPopular" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'popular', 0, 'skipPopular');">Ver mais</button>
        }
    </div>

    <div id="divAllTopics" style="display:none;">
        <div id="alltpc">
            @foreach (var item in Model.AllTopics.OrderByDescending(m => m.LastModified))
            {
                Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
            }
        </div>
        @if (Model.AllTopics.Count() == 15)
        {
            <button id="btn_skipAll" onclick="verMaisTopics(@Model.CurrentChannel.Id, 'alltpc', 0, 'skipAll');">Ver mais</button>
        }
    </div>



</div>

