@model Nimbus.Web.Website.Models.ChannelModel
@{
    ViewBag.Title = "Canal";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

<div id="divCapa">
    <img src="/@Model.CurrentChannel.ImgUrl" id="imgCapa" height="192" alt="" width="864" />
    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <div class="press accRef">
            <p>Seguir</p>
        </div>
    }
</div>

<div id="divInfCanal">
    <p>@Model.CurrentChannel.Name</p>
    <p>Dono: @Model.CurrentChannel.OwnerName</p>
    <p>Moderadores:</p>
   
    @foreach (var item in Model.Moderators)
        {
          <p>
             <a href="/userprofile/index/@item.Id"> @item.FirstName + @item.LastName</a>
          </p>
        }  

    
    <p>
        @*colocar icone de total de seguidores*@
        @Model.CurrentChannel.countFollowers
    </p>
    <p>
        @*colocar icone pontuaçao*@
        @Model.CurrentChannel.CountVotes
    </p>
        
    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <div class="press SendMessage">
            <p><a href="#modal-text" class="call-modal">Enviar Mensagem</a></p> <!-- clicavel -->
        </div>
    }

    @Model.CurrentChannel.participationChannel
  
      <p>
        @foreach (var item in Model.Tags)
        {
            <label>#@item.TagName</label>
        }
    </p>

   @if (Model.RolesCurrentUser.Contains("channelmanager")
         || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
    {
       <div class="press accRef">
            <p>Editar Tags</p>
        </div>                                                    
    }
      
    <div id="divCanaisRelacionados">
        @*TODO*@
    </div>
</div>

<div style="float:right;">
    @if (Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager")
        || Model.RolesCurrentUser.Contains("usermanager") || Model.RolesCurrentUser.Contains("messagemanager"))
    { 
         @RenderPage("~/Website/Views/ChannelPrivateTopBar.cshtml")
    }
    else
    {
        @RenderPage("~/Website/Views/ChannelPublicTopBar.cshtml")                                                      
    }
</div>

<section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label"><!-- Header --></header>
        <div class="modal-content">
            <!-- The modals content -->
            <p>Para: @Model.CurrentChannel.OwnerName</p>
            <p>Cc:
             @foreach (var item in Model.Moderators)
             {
                 @item.FirstName @item.LastName
             }
            </p>
            <p>
                Assunto:
                <input name="inpTitleMsg" type="text" maxlength="100" />
            </p><br />
            <p>
                <textarea id="txtTextMsg" name="txtTextMsg" rows="10" cols="60" required class="ckeditor"></textarea>
            </p>
        </div>
        <footer>
            <!-- Footer -->
            <div class="press accRef">
                <p>Enviar</p>
            </div>
        </footer>
    </div>

    <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Sempre manter no fim da página*@
<script type="text/javascript">
    CKEDITOR.replace('txtTextMsg', {
        toolbar: [
            { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
            ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
            '/',																					// Line break - next group will be placed in new line.
            { name: 'basicstyles', items: ['Bold', 'Italic'] }
        ]
    });
</script>