@model Nimbus.Web.Website.Models.ChannelModel
@{
    ViewBag.Title = "Canal";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

@Scripts.Render(("~/Scripts/jquery.form.js"))
@Scripts.Render("~/Scripts/ViewChannelScripts.js")

<div id="divCapa">
    <img src="@Model.CurrentChannel.ImgUrl" id="imgCapa" height="192" alt="" width="864" />
    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <div class="followChannelPage">
            <p>Seguir</p>
        </div>
    }
</div>


<div id="nameChannelPage">
    <h1>@Model.CurrentChannel.Name</h1>
</div>

<div id="divInfCanal">
    <p>Dono:<a href="/userprofile" class="nameOwner"> @Model.CurrentChannel.OwnerName</a></p>
    <p>Moderadores:</p>

    @foreach (var item in Model.Moderators)
    {
        <p>
            <a href="/userprofile/index/@item.Id" class="nameMod"> @item.FirstName + @item.LastName</a>
        </p>
    }

    @if (Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("moderatormanager")
        || Model.RolesCurrentUser.Contains("channelmanager"))
    {
        <a href="#modal-moderators" onclick="ajaxLoadModeratorEdit(@Model.CurrentChannel.Id);">Editar moderadores</a>
    }

    <div class="infoTitleChannel">
        <h2>Número de seguidores</h2>
        <p class="numberIco">
            @*colocar icone de total de seguidores*@
            @Model.CurrentChannel.countFollowers
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Número de Likes</h2>
        <p class="numberIco">
            @*colocar icone pontuaçao*@
            @Model.CurrentChannel.CountVotes
        </p>
    </div>

    @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
    {
        <div class="sendMessage">
            <p><a href="#modal-text" class="call-modal">Enviar Mensagem</a></p> <!-- clicavel -->
        </div>
    }

    <div class="infoTitleChannel">
        <h2>Participação</h2>
            @if (Model.CurrentChannel.participationChannel == "0%")
            {
                <p id="txtPartChannel">
                    Você ainda não participou deste canal.<br>
                    Desfrute do conteúdo e torne-se ativo para aumentar sua porcentagem!
                </p>
            }
            else
            {
                <p class="numberIco">
                    @*colocar icone participacao*@
                    @Model.CurrentChannel.participationChannel
                </p>
            }
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Tags</h2>
        <p class="tagChannel">
            @foreach (var item in Model.Tags)
            {
                <label id="lblTag_@item.Id">#@item.TagName</label>
            }
        </p>
    </div>

    @if (Model.RolesCurrentUser.Contains("channelmanager")
         || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
    {
        <div class="editTag">
            <p><a href="#modal-tags" id="openModalTag" onclick="ajaxLoadTags(@Model.CurrentChannel.Id);">Editar tags</a></p>
        </div>
    }
    
    <div class="infoTitleChannel divCanaisRelacionados">
        <h2>Canais Relacionados</h2>
        <div class="channels">
            @* Editar essa parte para que mostre os canais relacionados ( copiei da userprofile )
            @foreach (var item in Model.ChannelPaid)
            {
                <div class="chanPaidImg">
                    <img src="@item.ImgUrl" alt="@item.Name" width="40" height="40" />
                </div>
            }*@
        </div>
    </div>

</div>

<div style="float:left;">
    @if (Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager")
        || Model.RolesCurrentUser.Contains("usermanager") || Model.RolesCurrentUser.Contains("messagemanager"))
    {
        @RenderPage("~/Website/Views/ChannelPrivateTopBar.cshtml")
    }
    else
    {
        @RenderPage("~/Website/Views/ChannelPublicTopBar.cshtml")
    }
</div>

@*Modal para enviar msg*@
<section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Mensagem
        </header>

        @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId)
        {
            <div class="modal-content">                
                    <!-- The modals content -->
                    <p>
                        Para:
                        <input type="text" name="txtOwnerName" value="@Model.CurrentChannel.OwnerName" disabled="disabled" />
                    </p>
                    <p>
                        Cc:
                        <textarea name="txtaCc" disabled="disabled" cols="40" rows="5">
                            @if (Model.Moderators.Count > 0)
                            {
                                foreach (var item in Model.Moderators)
                                {
                                    @item.FirstName @item.LastName
                                }
                            }
                            else
                            {
                                <text>Apenas o dono do canal poderá receber está mensagem.</text>
                            }
                        </textarea>
                    </p>
                    <p>
                        Assunto:
                        <input id="txtTitleMsg" name="txtTitleMsg" type="text" maxlength="100" />
                    </p><br />
                    <p>
                        <textarea id="txtTextMsg" name="txtTextMsg" rows="10" cols="60" class="ckeditor"></textarea>
                    </p>   
            </div>

            <footer>
                <!-- Footer -->
                <button id="btnEnviar" onclick="ajaxSendMessage(@Model.CurrentChannel.Id);">Enviar</button>
            </footer>
        }
    </div>

    <a href="#!" id="closeModal" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Modal para editar Tags*@
<section class="semantic-content" id="modal-tags" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Editar tags
        </header>

        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
        {
            <div id="divTags" class="modal-content">
                <!-- The modals content -->
                <!--Incluido por pelo js ajaxLoadTags-->
            </div>

            <footer>
                <!-- Footer -->
                <button id="btnSaveTag" onclick="ajaxEditTag(@Model.CurrentChannel.Id);">Enviar</button>
            </footer>
        }
        else
        {
            <p>Você não permissão para realizar esta operação.</p> 
        }
    </div>

    <a href="#!" id="closeModalTag" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

@*Modal de edição de moderadores*@
<section class="semantic-content" id="modal-moderators" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Editar moderadores
        </header>

        @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId
            || Model.RolesCurrentUser.Contains("moderatormanager"))
        {
            <div id="divEditModerators" class="modal-content">
                <!-- The modals content -->
                <!--Incluido por pelo js ajaxLoadTags-->
            </div>

            <footer>
                <!-- Footer -->
                <button id="btnSaveTag" onclick="ajaxEditTag(@Model.CurrentChannel.Id);">Enviar</button>
            </footer>
        }
        else
        {
            <p>Você não permissão para realizar esta operação.</p>
        }
    </div>

    <a href="#!" id="closeModalTag" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>


@*Sempre manter no fim da página*@
<script type="text/javascript">
    CKEDITOR.replace('txtTextMsg', {
        toolbar: [
            { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
            ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
            '/',																					// Line break - next group will be placed in new line.
            { name: 'basicstyles', items: ['Bold', 'Italic'] }
        ]
    });

</script>
