@model Nimbus.Web.Website.Models.ChannelModel

<script type="text/javascript">
    //global
    currentDiv = 'divNotifications';
    divTipoTopic = '';
</script>

@*
  Atualizações
  Mas vistos
  Todos
  Novo Tópico
  Mensagens
*@
@Scripts.Render(("~/Scripts/jquery.form.js"))

<nav class="ProfTopBar">
    <ul class="sbs">
        <li><a name="divNotifications" onclick="EnableDiv(this.name, 'currentDiv');">Atualizações</a></li>
        <li><a name="divPopularTopics" onclick="EnableDiv(this.name, 'currentDiv');">Mais svistos</a></li>
        <li><a name="divAllTopics" onclick="EnableDiv(this.name, 'currentDiv');">Todos</a></li>
        <li><a name="divNewTopic" onclick="EnableDiv(this.name, 'currentDiv');">Novo tópico</a></li>
        <li><a name="divMessages" onclick="EnableDiv(this.name, 'currentDiv');">Mensagens</a></li>
    </ul>
</nav>

<div>
    <div id="divNotifications" style="display:block;">
        @*ultimos topicos + ultimos comentarios*@
        @*TODO:colocar script p 'ver mais' index de pagina*@
        <p>Últimos tópicos</p>
        @foreach (var item in Model.AllTopics.Take(15).OrderByDescending(m => m.LastModified))
        {
                <div class="Post_g">
                    <div class="PostHeader_g">
                        <h1>@item.Title</h1>
                            <div class="PostHeImg_g">
                                <img src="@item.ImgUrl" alt="@item.TopicType.ToString()" title="@item.Title" width="180" height="100">
                            </div>
                        </div>
                        <div class="PostContent_g">
                            <p>@item.Description </p>
                            </div>
                            <div class="PostFooter_g">
                                <div class="PostFoBoxL_g">
                                    <a>Ler mais tarde</a>
                                </div>
                                <div class="PostFoBoxR_g">
                                    <a href="/topic/@item.Id">Ler</a>
                                </div>
                            </div>
                        </div>

        }

        @if (Model.Comments.Count > 0)
        {
                <div id="divComments">
                    <p>Novos Comentários</p>
                    @foreach (var item in Model.Comments.Take(10).OrderByDescending(c => c.PostedOn))
                    { 
                        <div id="divComment" style="display:block">
                            <div id="divInfoComment" name="divInfoComment">
                                <input type="hidden" value="@item.Id" />
                                <img id="user+@item.UserId" src="@item.AvatarUrl" />
                                @item.UserName
                                @item.TopicName
                                @item.PostedOn
                                @item.Text
                                <a onclick="document.getElementById('divAnswer_@item.Id').style.display ='block';">Responder</a>
                            </div>
                            <div id="divAnswer_@item.Id" name="divAnswer+@item.Id" style="display:none">
                               <textarea rows="10" cols="30" id="txtaAnswer" name="txtaAnswer" maxlength="500"></textarea>
                                <button id="btnAnswerComment" onclick="ajaxAnswerComment(@item.ParentId, @item.Id, @item.ChannelId, @item.TopicId);">Enviar</button>                                
                            </div>
                        </div>
                    }
              </div>
        }
    </div>

    <div id="divPopularTopics" style="display:none;">
        @foreach (var item in Model.AllTopics.OrderByDescending(m => m.Count))
        {
            <div class="Post_g">
                <div class="PostHeader_g">
                    <h1>@item.Title</h1>
                    <div class="PostHeImg_g">
                        <img src="@item.ImgUrl" alt="@item.TopicType.ToString()" title="@item.Title">
                    </div>
                </div>
                <div class="PostContent_g">
                    <p>@item.Description </p>
                </div>
                <div class="PostFooter_g">
                    <div class="PostFoBoxL_g">
                        <a>Ler mais tarde</a>
                    </div>
                    <div class="PostFoBoxR_g">
                        <a href="/topic/@item.Id">Ler</a>
                    </div>
                </div>
            </div>

        }

    </div>

    <div id="divAllTopics" style="display:none;">
        @foreach (var item in Model.AllTopics.OrderByDescending(m => m.LastModified))
        {
            <div class="Post_g">
                <div class="PostHeader_g">
                    <h1>@item.Title</h1>
                    <div class="PostHeImg_g">
                        <img src="@item.ImgUrl" alt="@item.TopicType.ToString()" title="@item.Title">
                    </div>
                </div>
                <div class="PostContent_g">
                    <p>@item.Description </p>
                </div>
                <div class="PostFooter_g">
                    <div class="PostFoBoxL_g">
                        <a>Ler mais tarde</a>
                    </div>
                    <div class="PostFoBoxR_g">
                        <a href="/topic/@item.Id">Ler</a>
                    </div>
                </div>
            </div>

        }
    </div>

    <div id="divNewTopic" style="display:none;">
        <p>
            Nome do tópico:
            <input type="text" id="txtNameTopic" maxlength="50" min="5" required name="txtNameTopic" />
        </p>
        <p>
            Imagem ilustrativa:
            <div id="divImgTopico" style="display:none;">
                <img id="imgPrevia" src="" height="100" width="150" />
            </div>
        </p>
            <form action='/channel/upload' method="post" enctype="multipart/form-data" name="imagem_original">
                <input type="file" name="imgTopic" id="imgTopic" />
                <input type="submit" value="Carregar" class="hidden" style="display:none" id="upload" />
                <input type="hidden" id="url" name="url" />
                <label>Imagem de no máx. 5MB</label>
            </form>
        
        <p>
            Resumo:<br />
            <textarea cols="30" rows="5" id="txtaDescription" maxlength="150" required name="txtaDescription"></textarea>
        </p>

        
            <p>Tipo:</p>
            <div>
                <label id="lblVideo" onclick="EnableTwoDiv('divVideo', 'divTipoTopic', 'divTypeTopic');">Vídeo</label>
                <label id="lblText" onclick="EnableTwoDiv('divText', 'divTipoTopic', 'divTypeTopic');">Artigo</label>
                <label id="lblDiscussion" onclick="EnableTwoDiv('divDiscussion', 'divTipoTopic', 'divTypeTopic');">Discussão</label>
                <label id="lblExam" onclick="EnableTwoDiv('divExam', 'divTipoTopic', 'divTypeTopic');">Avaliação</label>
            </div>
       
        <div id="divTypeTopic" style="display:none;">
            <div id="divVideo" style="display:none;">
                <input type="text" id="iptnamevideo" name="iptnamevideo" value="URL do vídeo" onfocus="javascript: this.value = ''" onchange="getUrlVideo(this.name, 'iframeVideo');" />
                <label>Somente url do youtube</label><br />
                <div id="divFrameVideo" style="display:none">
                    <iframe id="iframeVideo" width="420" height="345" name="iframeVideo"></iframe>
                </div>
            </div>

            <div id="divText" style="display:none;">
                <textarea id="txtaArticle" required class="ckeditor"></textarea>
            </div>

            <div id="divDiscussion" style="display:none;">
                <p>
                    Questão em debate:
                    <textarea id="txtaTextMsg" required class="ckeditor"></textarea>
                </p>
            </div>

            <div id="divExam" style="display:none;">
                <p>
                    Ainda precisa ver como vai ser
                </p>
            </div>
            <button id="btnSalvar" onclick="SaveNewTopic(@Model.CurrentChannel.Id, false);">Salvar</button>
        </div>
    </div>

   
    <div id="divMessages" style="display:none;">
            @if (Model.RolesCurrentUser.Contains("messagemanager"))
            {
                if(Model.Messages != null)
                { 
                foreach (var item in Model.Messages)
                {
                        <div class="Post_m">
                            <div class="PostHeImg_m">
                                <img src=@item.AvatarUrl alt="blabla" title="blabla">
                            </div>
                            <div class="Post_Right_m">
                                <nav class="PostHeaderLeft_m">
                                    <ul class="sbs">
                                        <li>@item.UserName/li>
                                            <li>@item.Title</li>
                                            </ul>
                                        </nav>
                                        <nav class="PostHeaderRight_m">
                                            <ul class="sbs">
                                                <li>@string.Format("{0:d/M/yyyy}", item.Date)</li>
                                                    <li>@string.Format("{0:HH:mm}", item.Date)</li>
                                                    </ul>
                                                </nav>
                                                <div class="PostContent_m">
                                                    <p>@item.Text </p>
                                                    </div>
                                                </div>
                                            </div>
                }
            }
            
            }
            </div>
    </div>

<script type="text/javascript">
    var jcrop;

    $(document).ready(function () {

        $(document).on('change', 'input[name=imgTopic]', function () {
            $("#upload").click();
        });

        $('form[name=imagem_original]').ajaxForm({
            dataType: 'json',
            success: function (data) {
                $('input[name=url]').val(data.url);
                $("#imgPrevia").attr("src", data.url);
                $("#divImgTopico").attr("style", "display:block");
            }
        });
    });

</script>