@model Nimbus.Web.Website.Models.TopicModel

@Scripts.Render("~/Scripts/jquery.form.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")

@Styles.Render("~/Styles/jHtmlArea.css")
@Scripts.Render("~/Scripts/jHtmlArea-0.8.js")

<div id="divInfos">
    <a href="#" class="aInfosDel" onclick="ajaxDeleteTopic(@Model.CurrentTopic.Id, @Model.CurrentChannel.Id);">
        Deletar Tópico <img src="/images/utils/delete.png" class="classChanDel" alt="Deletar canal" title="Deletar canal" />
    </a>

    <div class="divformNewChannel">
        <p>
            Imagem ilustrativa
        </p>
        <div id="divImgTopico">
            <img id="imgNewPrevia" src="@Model.CurrentTopic.ImgUrl" height="100" width="150" />
        </div>
        <iframe width="400" height="40" src="/upload?type=topicimg&field=url" frameborder="0"></iframe>
        <input type="hidden" id="url" name="url" onchange="document.getElementById('imgNewPrevia').src = this.value;" />
        <label style="float:left; margin-top:-20px;">Imagem de no máx. 5MB</label>
    </div>

        @*
    <form action='/channel/upload' method="post" enctype="multipart/form-data" name="imagem_original">
        <input type="file" name="iptNewImgTopic" id="iptNewImgTopic" />
        <input type="submit" value="Carregar" class="hidden" style="display:none" id="upload" /><br />
        <label>Imagem de no máx. 5MB</label>
        <input type="hidden" id="url" name="url" />
    </form>divformInfos
*@

    <form id="formEditTopic" onsubmit="return false;">
        <div class="divformNewChannel">
            <p>Nome do tópico</p>
            <input type="text" id="iptNewTitle" maxlength="50" min="5" required name="txtNameTopic" value="@Model.CurrentTopic.Title" class=" textboxformat" />
        </div>
        
        <div class="divformNewChannel">
            <p>Descrição</p>
            <textarea cols="30" rows="5" id="iptNewDescription" maxlength="150" required name="txtaDescription" class="textAreaFormat">@Model.CurrentTopic.Description</textarea>

        </div>

        <div class="divformNewChannel">

            @if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.video)
            {

                <div id="divEditVideo">
                    <input type="text" id="iptTitlevideo" name="iptTitlevideo" value="URL do vídeo" onfocus="javascript: this.value = ''"
                           onchange="getUrlVideo(this.name, 'divFrameNewVideo', 'iframeNewVideo');" required />
                    <label>Somente url do youtube</label><br />
                    <div id="divFrameNewVideo" style="display:none;">
                        <iframe name="iframeNewVideo" width="420" height="345" id="iframeNewVideo" src=""></iframe>
                    </div>
                </div>

            }
            else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.file)
            {
                <div id="divNewFile" class="divformNewChannel">
                    <label>Upload de arquivo (máx. 5MB):</label><br />
                    <label>(docx, pdf, pptx, ppt, ppsx, pps, xlsx, xls)</label>
                    <iframe width="300" height="200" src="/upload?type=office&w=300&h=200&field=inptUrlEditFile" frameborder="0"></iframe>
                    <input type="hidden" id="inptUrlEditFile" />
                </div>
            }
            else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.text)
            {
                <div id="divNewText">
                    <textarea id="txtaArticle">@Model.CurrentTopic.Text</textarea>
                </div>
            }
            else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.discussion)
            {
                <div id="divNewText">
                    <textarea id="txtaTextMsg">@Model.CurrentTopic.Text</textarea>
                </div>
            }
            else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.exam)
            {
                <div id="divExam">
                    @for (int i = 0; i < Model.CurrentTopic.Question.Count; i++)
                     {
                         var question = Model.CurrentTopic.Question[i];
                         var answers = question.ChoicesAnswer.ToList();
                         /*lista as questões existentes*/
                         <div id="divPergunta1" class="divPergEditarNimbus">
                             <p>Enunciado da questão:</p>
                             <p><strong>@(i + 1)</strong> -<input id="QuestionPerg@(i + 1)" class="enunciado" type="text" value="@question.TextQuestion" maxlength="600" /></p>
                     
                             <p>Respostas:</p>
                             <div>
                     
                                 @for (int j = 0; j < answers.Count; j++ )
                                 {

                                     //imprime as perg
                                        <ul id="ulPerg@(i + 1)">
                                            <li id="liPerg@(i + 1)_opt@(j + 1)">
                                                @if (answers[j].Key == question.CorrectAnswer)
                                                {
                                                    <input class="rdbPergEditNimbus" type="radio" checked name="radio_perg@(i + 1)" id="rdbPerg@(i + 1)_opt@(j + 1)" value="@answers[j].Key" />
                                                }
                                                else
                                                {
                                                    <input class="rdbPergEditNimbus" type="radio" name="radio_perg@(i + 1)" id="rdbPerg@(i + 1)_opt@(j + 1)" value="@answers[j].Key" />
                                                }
                                    
                                                <input class="resposta" type="text" value="@answers[j].Value" id="txtPerg@(i + 1)_opt@(j + 1)" />
                                            </li>
                                        </ul>
                                 }
                             </div>
                     
                         </div>
                     }
                </div>

                 <script>
                     CurrentQuestion = @Model.CurrentTopic.Question.Count();
                 </script>
               <div id="btnAddNewQuestion">
                   <button id="btnAddItemEdit" onclick="CreatedDivQuestion();">Criar nova questão</button>
               </div>

            }
        </div>

        <div class="divBtnNewChannel">
            <input type="submit" class="divCnclInfos" onclick="cancelEditTopic(@Model.CurrentTopic.Id);" value="Cancelar" />
            <input type="submit" class="divSaveInfos" value="Salvar" onclick="ajaxEditTopic(@Model.CurrentTopic.Id, '@Model.CurrentTopic.TopicType', 'divCurrent_@Model.CurrentTopic.TopicType')" />
        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $(document).on('change', 'input[name=iptNewImgTopic]', function () {
            $("#upload").click();
        });

        $('form[name=imagem_original]').ajaxForm({
            dataType: 'json',
            success: function (data) {
                $('input[name=url]').val(data.url);
                $("#imgNewPrevia").attr("src", data.url);
            }
        });
    });

</script>

<script type="text/javascript">
    $(function () {
        try {
            $('#txtaArticle').width(500);
            $('#txtaArticle').height(300);
            $('#txtaArticle').htmlarea();
        } catch (e) {}
        try {
            $('#txtaTextMsg').width(500);
            $('#txtaTextMsg').height(300);
            $('#txtaTextMsg').htmlarea();
        } catch (e) { }
    });
</script>