@model Nimbus.Web.Website.Models.TopicModel

@Scripts.Render("~/Scripts/jquery.form.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")


<div id="divInfos">
    <p>Nome: <input id="iptNewTitle" value="@Model.CurrentTopic.Title" /></p>
    <p>Descrição:<input id="iptNewDescription" value="@Model.CurrentTopic.Description" /></p>
    <p>
        Imagem ilustrativa:
        <div id="divImgTopico">
            <img id="imgNewPrevia" src="@Model.CurrentTopic.ImgUrl" height="100" width="150" />
        </div>
    </p>
    <form action='/channel/upload' method="post" enctype="multipart/form-data" name="imagem_original">
        <input type="file" name="iptNewImgTopic" id="iptNewImgTopic" />
        <input type="submit" value="Carregar" class="hidden" style="display:none" id="upload" /><br />
        <label>Imagem de no máx. 5MB</label>
        <input type="hidden" id="url" name="url" />
    </form>

        @if(Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.video)
        {            
            <div id="divEditVideo">               
                <input type="text" id="iptTitlevideo" name="iptTitlevideo" value="URL do vídeo" onfocus="javascript: this.value = ''" 
                       onchange="getUrlVideo(this.name, 'divFrameNewVideo', 'iframeNewVideo');" />
                <label>Somente url do youtube</label><br />
                <div id="divFrameNewVideo" style="display:none;">
                    <iframe name="iframeNewVideo" width="420" height="345" id="iframeNewVideo" src=""></iframe>
                </div>                
            </div>

        }
        else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.text ||
                 Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.discussion)
        {
            <div id="divNewText">
                <textarea id="txtaArticle" required class="ckeditor">@Model.CurrentTopic.Text</textarea>
                
            </div>
        }
        else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.exam)
        {
            <div id="divNewExam">
                @for (int i = 0; i < Model.CurrentTopic.Question.Count; i++)
                {
                    var question = Model.CurrentTopic.Question[i];
                    var answers = question.ChoicesAnswer.ToList();
                    /*lista as questões existentes*/
                    <section>
                        <p>Pergunta:</p>
                        <p><strong>@(i + 1)</strong> -<input id="QuestionPerg@(i + 1)" name="enunciado" type="text" value="@question.TextQuestion" /></p>

                        <p>Respostas:</p>
                        <ul class="ulEditPergNimbus">
                            @{
                            int j = 0;
                            foreach (var answer in answers)
                            {

                                //imprime as questoes
                                <li id="liPerg_@i" class="liPergEditNimbus">
                                    @if (answer.Key == question.CorrectAnswer)
                                    {
                                        <input id="rdbPerg@(i+1)_opt@(j+1)" class="rdbPergEditNimbus" type="radio" checked name="@i" value="@answer.Key" />
                                    }
                                    else
                                    {
                                        <input id="rdbPerg@(i+1)_opt@(j+1)" class="rdbPergEditNimbus" type="radio" name="@i" value="@answer.Key" />
                                    }

                                    <input id="txtPerg@(i+1)_opt@(j+1)" class="iptPergEditNimbus" type="text" value="@answer.Value" />
                                </li>
                                    j++;
                            }
                                    }
                         </ul>

                </section>
                }
            </div>
            
            <div>
                <script>
                    CurrentQuestion = '1';
                </script>
                <p><h1>Criar novas questões:</h1></p>
            <div id="divExam">
                <div id="divPergunta1">
                    <p>
                        Enunciado da questão:
                        <input id="QuestionPerg1" name="enunciado" type="text" maxlength="600" />
                    </p>
                    <p>Respostas:</p>
                    <div>
                        <ul id="ulPerg1" class="ulEditPergNimbus">
                            <li id="liPerg1_opt1" class="liPergEditNimbus">
                                @*pergunta 1 _ opçao 1*@
                                <input type="radio" class="rdbPergEditNimbus" name="radio_perg1" id="rdbPerg1_opt1" />
                                <input id="txtPerg1_opt1" name="resposta" type="text" onfocus="javascript: this.value = ''" value="Opção 1" />
                            </li>
                            <li id="liPerg1_opt2" class="liPergEditNimbus">
                                <input type="radio" class="fakeDisable rdbPergEditNimbus" name="radio_perg1" id="rdbPerg1_opt2" />
                                <input id="txtPerg1_opt2" class="fakeDisable" onclick="DisableOption('2', 'divPergunta1');" name="resposta" type="text" value="Opção 2" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button id="bntAddItem" onclick="CreatedDivQuestion();">Add item</button>
    </div>
            
        }
    <div>
        <button value="Salvar" onclick="ajaxEditTopic(@Model.CurrentTopic.Id, '@Model.CurrentTopic.TopicType', 'divCurrent_@Model.CurrentTopic.TopicType')"> Salvar</button>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $(document).on('change', 'input[name=iptNewImgTopic]', function () {
            $("#upload").click();
        });

        $('form[name=imagem_original]').ajaxForm({
            dataType: 'json',
            success: function (data) {
                $('input[name=url]').val(data.url);
                $("#imgNewPrevia").attr("src", data.url);
            }
        });
    });

</script>