@model Nimbus.Web.Website.Models.UserProfileModel


<script type="text/javascript">
 //global
    currentDiv = 'divNotification';
</script>

<div class="wrapperUser">
    <nav class="profTopBar">
        <ul class="sbs">
            <li class="press"><a name="divNotification" onclick="EnableDiv(this.name,'currentDiv');">Atualizações</a></li>
            <li class="press"><a name="divMyChannels" onclick="EnableDiv(this.name, 'currentDiv');">Meus Canais</a></li>
            <li class="press"><a name="divChannelFollows" onclick="EnableDiv(this.name, 'currentDiv');">Canais Seguidos</a></li>
            <li class="press"><a name="divReadLater" onclick="EnableDiv(this.name, 'currentDiv');">Marcados</a></li>
            <li class="press"><a name="divMessages" onclick="EnableDiv(this.name, 'currentDiv');">Mensagens</a></li>		
	    </ul>
    </nav>

    <div id="divNotification" style="display:block;">
        @*para cada item da lista que ele recber//TODO*@
        <p>
            <img id="imgNotification" src="#" />
            texto generico
        </p>
        <p>
            hora x     data x
        </p>
        <div id="attChoice">
            @*<button id="btnAccept" onclick="">Aceitar</button>*@
            <div id="btnAccept" class="accRef">
                <p>Aceitar</p>
            </div>
            
            @*<button id="btnDecline" onclick="">Recusar</button>*@
            <div id="btnAccept" class="accRef">
                <p>Recusar</p>
            </div>
        </div>
    </div>

    <div id="divMyChannels" style="display:none;">
        @if (Model.CurrentUser.UserId == Model.User.Id)
        {
            foreach (var item in Model.MyChannels)
            {
                @*Imagem e texto*@
                <div class="post_g">
                    <div class="postHeader_g">
                        <h1>@item.Name</h1>
                        <div class="postHeImg_g">
                            <img src="@item.ImgUrl" alt="blabla" title="blabla">
                        </div>
                    </div>
                    <div class="postContent_g">
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="postFooter_g">
                        <div class="postFoBoxL_g">
                            <p onclick="unFollow(@item.Id);">Desfavoritar</p> @*chamar js passando item.id*@
                        </div>
                        <div class="postFoBoxR_g">
                            <p onclick="openChannel(@item.Id);">Ler</p>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

    <div id="divChannelFollows" style="display:none;">

        @*Aparecer o exemplo*@
        <div class="post_g">
            <div class="postHeader_g">
                <h1>Nome</h1>
                    <div class="postHeImg_g">
                        <img src="bla.png" alt="blabla" title="blabla">
                    </div>
                </div>
                <div class="postContent_g">
                    <p>
                        Descricao
                        </p>
                    </div>
                    <div class="postFooter_g">
                        <div class="postFoBoxL_g">
                            <p onclick="unFollow();">Desfavoritar</p> @*chamar js passando item.id*@
                            </div>
                            <div class="postFoBoxR_g">
                                <p onclick="openChannel();">Ler</p>
                            </div>
                        </div>
                    </div>
        @*Fim do exemplo*@


        @if (Model.CurrentUser.UserId == Model.User.Id)
        {
            foreach (var item in Model.ChannelFollow)
            {
                @*Imagem e texto*@
                <div class="post_g">
                    <div class="postHeader_g">
                        <h1>@item.Name</h1>
                        <div class="postHeImg_g">
                            <img src="@item.ImgUrl" alt="blabla" title="blabla">
                        </div>
                    </div>
                    <div class="postContent_g">
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="postFooter_g">
                        <div class="press PostFoBoxL_g">
                            <p onclick="unFollow(@item.Id);">Desfavoritar</p> @*chamar js passando item.id*@
                                            </div>
                        <div class="postFoBoxR_g">
                            <p onclick="openChannel(@item.Id);">Ler</p>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

    <div id="divReadLater" style="display:none;">
        @*Aparecer o exemplo*@
        <div class="post_g">
            <div class="postHeader_g">
                <h1>Nome</h1>
                    <div class="postHeImg_g">
                        <img src="bla.png" alt="blabla" title="blabla">
                    </div>
                </div>
                <div class="postContent_g">
                    <p>
                        Descricao
                        </p>
                    </div>
                    <div class="postFooter_g">
                        <div class="postFoBoxL_g">
                            <p onclick="unReadLater();">Desmarcar</p> @*chamar js passando item.id*@
                            </div>
                            <div class="postFoBoxR_g">
                                <p>Ler</p> @*redirecionar pagina*@
                                </div>
                            </div>
                        </div>
        @*Fim do exemplo*@
        
        
        
        @if (Model.CurrentUser.UserId == Model.User.Id)
        {
            foreach (var item in Model.ReadLater)
            {
                @*Imagem e texto*@
                <div class="post_g">
                    <div class="postHeader_g">
                        <h1>@item.Name</h1>
                        <div class="postHeImg_g">
                            <img src="@item.ImgUrl" alt="blabla" title="blabla">
                        </div>
                    </div>
                    <div class="postContent_g">
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="postFooter_g">
                        <div class="postFoBoxL_g">
                            <p onclick="unReadLater(@item.Id);">Desmarcar</p> @*chamar js passando item.id*@
                                            </div>
                        <div class="postFoBoxR_g">
                            <p>Ler</p> @*redirecionar pagina*@
                                            </div>
                    </div>
                </div>

            }
        }
    </div>

    <div id="divMessages" style="display:none;">
        @*Aparecer o exemplo*@
        <div class="post_m">
            <div class="postHeImg_m">
                <img src="bla.jpg" alt="blabla" title="blabla">
            </div>
            <div class="post_Right_m">
                <nav class="postHeaderLeft_m">
                    <ul class="sbs">
                        <li>Nome</li>
                            <li>Titulo</li>
                            </ul>
                        </nav>
                        <nav class="postHeaderRight_m">
                            <ul class="sbs">
                                <li>12/03/1998</li>
                                    <li>12:45</li>
                                    </ul>
                                </nav>
                                <div class="postContent_m">
                                    <p>texto </p>
                                    </div>
                                </div>
                            </div>
        @*Fim do exemplo*@



        @if (Model.CurrentUser.UserId == Model.User.Id) {
        foreach (var item in Model.Messages)
        {
            string readStat;
            
            if (item.ReadStatus == true)
            {
                readStat = "background: #BE1E2D";
            }
            else
            {
                readStat = "background: #AAAAAA";
            }
            
            <div class="post_m" style="@readStat">
                <div class="postHeImg_m">
                    <img src=@item.AvatarUrl alt="blabla" title="blabla">
                </div>
                <div class="post_Right_m">
                    <nav class="postHeaderLeft_m">
                        <ul class="sbs">
                            <li>@item.UserName/li>
                            <li>@item.Title</li>
                        </ul>
                    </nav>
                    <nav class="postHeaderRight_m">
                        <ul class="sbs">
                            <li>@string.Format("{0:d/M/yyyy}", item.Date)</li>
                            <li>@string.Format("{0:HH:mm}", item.Date)</li>
                        </ul>
                    </nav>
                    <div class="postContent_m">
                        <p>@item.Text </p>
                    </div>
                </div>
            </div>
        }
        }
    </div>

    @*Tab*@

</div>