@model Nimbus.Web.Website.Models.UserProfileModel

@* Posts em Grade ou Lista em andamento - codigo no "PostsGrade"*@

<script type="text/javascript">
 //global
    currentDiv = 'divNotification';
    currentType = 'post_lista';
    nimbusRegisterMessageNotifications = true;
    skipMyChannels = 1;
    skipChannelsFollow = 1;
    skipReadLater = 1;
    skipMessageSend = 0;
    skipMessageReceived = 1;
</script>

<div class="wrapperUser" id="wrapperUser">
    <nav class="profTopBar">
        <ul class="sbs">
            <li class="press"><a name="divNotification" onclick="EnableDiv(this.name,'currentDiv');"><p>Atualizações</p></a></li>
            <li class="press"><a name="divMyChannels" onclick="EnableDiv(this.name, 'currentDiv');"><p>Meus Canais</p></a></li>
            <li class="press"><a name="divChannelFollows" onclick="EnableDiv(this.name, 'currentDiv');"><p>Favoritos</p></a></li>
            <li class="press"><a name="divReadLater" onclick="EnableDiv(this.name, 'currentDiv');"><p>Marcados</p></a></li>
            <li class="press"><a name="divMessages" onclick="EnableDiv(this.name, 'currentDiv');"><p>Mensagens</p></a></li>	
            <li class="press"><a name="divNewChannel" onclick="EnableDiv(this.name, 'currentDiv');"><p>Novo Canal</p></a></li>
	    </ul>
    </nav>
    @* NOTIFICAÇÕES *@
    <div id="divNotification"></div>

    <div id="divMyChannels" style="display:none;">
        @if (Model.CurrentUser.UserId == Model.User.Id)
        { 
            <div id="myChannels">
                @foreach (var item in Model.MyChannels)
                {
                    //partial
                    Html.RenderPartial("~/Website/Views/ChannelPartials/ChannelPartial.cshtml", item);

                }
            </div>

            if (Model.MyChannels.Count() == 15)
            {
                <button id="btn_skipMyChannels" onclick="verMaisChannels(@Model.CurrentUser.UserId, 'myChannels', 0, 'skipMyChannels');">Ver mais</button>
            }
        }
    </div>

    <div id="divChannelFollows" style="display:none;">

          @if (Model.CurrentUser.UserId == Model.User.Id)
        { 
            <div id="channelsFollow">
                @foreach (var item in Model.MyChannels)
                {
                    //partial
                    Html.RenderPartial("~/Website/Views/ChannelPartials/ChannelPartial.cshtml", item);

                }
            </div>

            if (Model.ChannelFollow.Count() == 15)
            {
                <button id="btn_skipChannelsFollow" onclick="verMaisChannels(@Model.CurrentUser.UserId, 'channelsFollow', 0, 'skipChannelsFollow');">Ver mais</button>
            }
        }
    </div>

    <div id="divReadLater" style="display:none;">
        <nav class="cont-right">
            <ul class="sbs">
                <li>
                    <div class="c-lista">
                        <!-- imagem icone lista -->
                        <div class="ret1"></div>
                        <div class="ret2"></div>
                    </div>
                </li>
                <li>
                    <div class="c-grade">
                        <!-- imagem icone grade -->
                        <div class="quad1"></div>
                        <div class="quad2"></div>
                        <div class="quad3"></div>
                        <div class="quad4"></div>
                    </div>
                </li>
            </ul>
        </nav>

        @if (Model.CurrentUser.UserId == Model.User.Id)
        {
            <div id="readLater">
                @foreach (var item in Model.ReadLater)
                {
                    //partial
                    Html.RenderPartial("~/Website/Views/ChannelPartials/TopicPartial.cshtml", item);
                }
            </div>
            if (Model.ReadLater.Count() == 15)
            {
                <button id="btn_skipAll" onclick="verMaisReadLater(@Model.CurrentUser.UserId, 0, 'skipReadLater');">Ver mais</button>
            }
        }
    </div>

    <div id="divMessages" style="display:none;">
      
        <div id="divChangeMessages">
            <a onclick="viewMessages('skipMessageReceived','messageReceived', '');">Recebidas</a>
            <a onclick="viewMessages('skipMessageSend', 'messageSend', 'send');">Enviadas</a>
        </div>
         
      @if (Model.CurrentUser.UserId == Model.User.Id)
        {
            <div id="divSeeMessages">
                @foreach (var item in Model.Messages)
                {
                    //partial
                    Html.RenderPartial("~/Website/Views/MessagePartials/MessagePartial.cshtml", item);
                }
            </div>
            if (Model.Messages.Count() == 15)
            {
                <button id="btn_moreMessages" onclick="viewMessages('skipMessageReceived', 'messageReceived', '');">Ver mais</button>
            }
        }
    </div>

    <div id="divNewChannel" style="display:none">
        <form action='/userprofile/SaveNewChannel' method="post" enctype="multipart/form-data" name="saveChannel">
            @if (Model.CurrentUser.UserId == Model.User.Id)
            {
                    <p>
                        Nome:
                        <input id="txtNameNewChannel" name="txtNameNewChannel" type="text" maxlength="50" min="" required />
                    </p>
                    <p>
                        Descrição:
                        <textarea id="txtaDescNewChannel" name="txtaDescNewChannel" cols="30" rows="5" maxlength="400"></textarea>
                    </p>
                    <p>
                        Categoria:
                        <select id="slcCategory" name="slcCategory">
                            <option value="0" selected>Selecionar categoria</option>
                            @foreach (var item in Model.Categories.OrderBy(c => c.Name))
                            {
                                    <option value="@item.Id">@item.Name</option>
                            }
                            </select>
                        </p>
                        <p>
                            Este canal é um curso?
                            <input type="radio" name="isCourse" value="true" required /> Sim
                            <input type="radio" name="isCourse" value="false" required />Não
                        </p>
                        <p>
                            Aberto para comentários:
                            <input type="radio" name="openComment" value="true" required /> Sim
                            <input type="radio" name="openComment" value="false" required />Não
                        </p>
                        <input type="submit" value="Cancelar" id="cancelar" onclick="Clear();" />
                        <input type="submit" value="Salvar" id="salvar" />
                        @*Se for pago, escolher preço
                          Se for de org != nimbus, poder escolher entre privado ou aberto, poder escolher
                            a foto da capa personalizada
                        <p>Adicionar Moderadores:</p> *@
            }
            </form>
        
    </div>

    @*Tab*@

</div>