@model Nimbus.Web.Website.Models.SearchModel
@{
    ViewBag.Title = "Busca";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

<script>
    $(function ()
    {
        var item = document.getElementById('aOpenDivSearch');
        item.onclick = function () { };
    });
</script>


<div id="divBarSearchPage">
    <input id="txtFieldSearchContent" style="width:350px;" value="@Model.Text" type="text" />
    <select id="slcFilterSearchContent">
        @if(Model.FieldType == 0)
        { 
        <option value="0" selected>Todos</option>
        }
        else
        {  
        <option value="0">Todos</option>
        }
        @if(Model.FieldType == 1){
        <option value="1" selected>Canal</option>
        }
        else{
        <option value="1">Canal</option>
        }
        @if (Model.FieldType == 2)
        {
            <option value="2" selected>Tópico</option>
        }
        else
        {
             <option value="2">Tópico</option>
        }
        @if (Model.FieldType == 3)
        {
            <option value="3" selected>Usuário</option>
        }
        else
        {
        <option value="3">Usuário</option>
        }
        
    </select>
    <img src="/images/utils/search.png" title="Buscar" class="cpointer" alt="Buscar" style="margin: 4px 0 0 0" onclick="ajaxSearch('Content');" />
</div>

<div>
@foreach (var item in Model.ItensFound)
{
    
    <div class="divSearch-grade">
        <a href="/@item.ItemPageUrl/index/@item.IdItem">
            <div class="headerSearch-grade">               
                <h1>@item.Title</h1>
                <img src="@item.UrlImage" title="@item.TypeSearch" alt="@item.TypeSearch" width="180" height="100"  />
            </div>
            <p class="contentSearch-grade">
                @item.Description<
            </p>
        </a>
        <a href="/@item.ItemPageUrl/index/@item.IdItem">
        <div class="footerSearch-grade">
             <p>Ver mais</p>
        </div>  
        </a>
    </div>  
}
</div>