@model Nimbus.Web.Website.Models.TopicModel
@{
    ViewBag.Title = "Topico";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/ScriptsShared.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")
@Scripts.Render("~/Scripts/ViewTopicScripts.js")

<div id="divCapa">
    <img src="@Model.Category.ImgTopChannel"  id="imgcapa"  height="192" alt="" width="864" />
</div>

<img src="@Model.CurrentTopic.ImgUrl " id="imgTopic" height="100" alt="" width="150" />

<div id="divInfTopic">
    @*<div style="width: 150px; margin: 0 auto;">
        <img src="@Model.CurrentTopic.ImgUrl " id="imgTopic" height="100" alt=""  width="150" />
    </div>*@

    <h1 id="nameTopicPage">
        @Model.CurrentTopic.Title <br />
        @Model.CurrentChannel.Name
    </h1>

    <p class="txtInfTopic">@Model.CurrentTopic.Description</p>

    <h1 class="favTopic">
        <img src="/images/favorite_topic_icon.png" style="margin: 0px 0px -5px 10px;"/>
        @Model.NumFavorites
    </h1>

    <div id="btnEditTopic" onclick="EditTopic();">
        <p>Editar</p>
    </div>

    <div class="infoTitleChannel">
        <h2>Número de seguidores</h2>
        <p class="catTopic">
            @*Categoria*@
                @Model.Category.Name
                </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Número de Likes</h2>
        <p class="numberIco">
            @*colocar icone de likes*@
            100
        </p>
    </div>

    <div id="divCanaisRelacionados">
        @*TODO*@
    </div>
</div>


<div id="divContentTopic" style="float:left;">

    @*Topico em formato texto*@
    @if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.exam)
    {
        @RenderPage("~/Website/Views/TopicAvalicao.cshtml")
    }
    else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.video)
    {
        @*Topico em formato de video*@
        @RenderPage("~/Website/Views/TopicVideo.cshtml")
    }
    else
    {
        @*Topico avaliacao*@
        @RenderPage("~/Website/Views/TopicText.cshtml")
    }



    @*Parte dos Comentarios*@
    @if (Model.CurrentChannel.OpenToComments == true)
    {
        <div id="divCommentsTopic">
            <div id="divAllComments">
                <div class="contentTitleTopic">
                    <h2>Comentários</h2>
                </div>

                <div class="divComentario">
                    @if (Model.Comments.Count > 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            if (comment.IsParent == true)
                            {
                                <div id="divContentComment_@comment.Id" class="blocoComment">

                                    @*Primeiro comentario do bloco*@
                                    <div id="divCommentParent_@comment.Id" class="firstBlockComment">
                                        @*Imagem*@
                                        @*
                                        <div class="imgComment">
                                            <img src="@comment.AvatarUrl" id="imgTopic_@comment.Id" height="48" alt="" width="48" />
                                        </div>
                                        *@
                                        <div>
                                            <img src="@comment.AvatarUrl" id="imgTopic_@comment.Id" />
                                        </div>
                                        @*Conteúdo*@
                                        <div class="divCommentContent">
                                            <p class="titleCommentContent">
                                                    @comment.UserName
                                                    @comment.PostedOn
                                                    @if (Model.CurrentUser.UserId == Model.CurrentChannel.OwnerId ||
                                            comment.UserId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager")
                                                                                       || Model.RolesCurrentUser.Contains("topicmanager"))
                                                    {
                                                        <a href="#" title="Deletar" onclick="ajaxDeleteComment(@comment.Id, 'divCommentParent_@comment.Id');">X</a>
                                                    }
                                            </p>
                                            @*<div style="float:left">*@
                                                <p class="txtCommentContent">@comment.Text</p>
                                            @*</div>*@
                                        </div>
                                    </div>

                                    <div class="divChildComment">
                                    @*Respostas ao primeiro comentario do bloco*@
                                    @foreach (var child in comment.CommentChild)
                                    {
                                        <div id="divCommentChild_@child.Id" class="firstBlockComment">
                                            @*Imagem*@
                                            <div style="float:left">
                                                <img src="@child.AvatarUrl" id="imgTopic_@child.Id" height="48" alt="" width="48" />
                                            </div>
                                            @*Conteúdo*@
                                            <div class="divCommentContent">
                                                <p class="titleCommentContent">
                                                    <label id="lblUserName_@child.Id">@child.UserName</label>
                                                    <label id="lblPostedOn_@child.Id">@child.PostedOn</label>
                                                    @if (child.Text != "Comentário removido" && (Model.CurrentUser.UserId == Model.CurrentChannel.OwnerId ||
                                            comment.UserId == Model.CurrentUser.UserId || Model.RolesCurrentUser.Contains("channelmanager")
                                                                                       || Model.RolesCurrentUser.Contains("topicmanager")))
                                                    {
                                                        <a href="#" id="btnDelete_@child.Id" title="Deletar" onclick="ajaxDeleteComment(@child.Id,'divCommentChild_@child.Id' );">X</a>
                                                    }
                                                </p>
                                                <p class="txtCommentContent"><label id="lblText_@child.Id">@child.Text</label></p>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                    <br />

                                    <div id="divAnswerTopic_@comment.Id" style="display:block">
                                        <button id="bntAnswer_@comment.Id" onclick="EnableDivHiddenBtn('divComment_@comment.Id', 'bntAnswer_@comment.Id');" value="Responder">Responder</button>
                                    </div>

                                    <div id="divComment_@comment.Id" style="display:none">
                                        <textarea id="txtaAnswer_@comment.Id" name="txtaAnswerTopic" cols="30" rows="2"></textarea>
                                        <button id="btnSendAnswer" onclick="ajaxAnswerComment(0,@comment.Id, @comment.ChannelId, @comment.TopicId, 'txtaAnswer_@comment.Id');" value="Enviar">Enviar</button>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <strong>Seja o primeiro a comentar!</strong>
                    }
                    </div>
            </div>

            <div style="float:left">
                <br /><br />
                <div class="contentTitleTopic">
                    <h2>Comentar</h2>
                </div>
                <textarea id="txtacomentario" cols="50" rows="5"></textarea>
                <button id="btnNewComment" onclick="ajaxSaveNewComment(@Model.CurrentTopic.Id, @Model.CurrentTopic.ChannelId,'txtacomentario');" value="Enviar">Enviar</button>
            </div>

        </div>
    }


</div>





