@model Nimbus.Web.Website.Models.TopicModel
@{
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Topico";
}

@Scripts.Render("~/Scripts/ScriptsShared.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")
@Scripts.Render("~/Scripts/ViewTopicScripts.js")
@Styles.Render("~/Styles/jHtmlArea.css")
@Scripts.Render("~/Scripts/jHtmlArea-0.8.js")

<script>
    channelID = @Model.CurrentTopic.ChannelId;
    skipComments = 1;
    skipCommentsChild = 1;
</script>

<div id="divCapa">
    <img src="@Model.Category.ImgTopChannel" id="imgcapa" height="192" alt="" width="864" />   
</div>


<div id="divInfTopic">
    <div style="width: 150px; margin: 0 auto;">
            <img src="@Model.CurrentTopic.ImgUrl " id="imgTopic" height="100" alt=""  width="150" />
    </div>

    <h1 id="nameTopicPage">
       <label id="lblTopicTitle"> @Model.CurrentTopic.Title</label>
    </h1>
    <a href="/channel/index/@Model.CurrentChannel.Id"><p id="channelTopicPage">@Model.CurrentChannel.Name</p></a>

    <div class="infoTitleChannel">
        <h2>Sobre</h2>
        <p id="pTopicDescription" class="txtInfTopic">
            @Model.CurrentTopic.Description
        </p>
    </div>

    <h1 class="favTopic">
        <img src="/images/utils/starv.png" />
        <label id="lblCountFavorite"> @Model.NumFavorites</label>
    </h1>

    @if (Model.RolesCurrentUser.Contains("channelmanager") || Model.RolesCurrentUser.Contains("topicmanager") ||
        Model.CurrentChannel.OwnerId == Model.CurrentUser.UserId)
    { 
        <a href="#" onclick="clickEditTopic(@Model.CurrentTopic.Id, '@Model.CurrentTopic.TopicType');">
            <div id="btnEditTopic" >
                <p>Editar</p>
            </div>
        </a>
    }
    else
    {
        <a href="#" onclick="ajaxFavoritedTopic(@Model.CurrentTopic.Id,'pageTopic');">           
            <div id="btnFavoritedTopic">
                @if (Model.FavoriteTopic == false)
                {
                    <p id="pFavoritar">Favoritar</p>
                }
                else
                {
                    <p id="pFavoritar">Desfavoritar</p>
                }
            </div>
        </a>
    }
    
    <div class="infoTitleChannel">
        <h2>Categoria</h2>
        <p class="catTopic">
            @*Categoria*@
            @Model.Category.Name
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Número de Likes</h2>
        <div id="divCountLikes">
            <p class="favTopic">
                @*colocar icone de likes*@
                <img src="/images/utils/coracheio.png" title="Likes" alt="Likes" />
                <label id="lblLike">@Model.NumLikes</label>
            </p>
            <p class="favTopic">
                @*colocar icone de likes*@
                <img src="/images/utils/coravazado.png" title="Likes" alt="Likes" />
                <label id="lblUnLike">@Model.NumUnLikes</label>
            </p>
        </div>
        <div id="divLikesEvents">
            @if (Model.UserLike == null)
            {
                <p id="linkLike" onclick="ajaxLikeUnLike(@Model.CurrentTopic.Id, 'like', 'null');">
                    <img src="/images/utils/coracheio.png" title="Gostei" alt="Gostei" />
                    Gostei
                </p>
                <p id="linkUnLike" onclick="ajaxLikeUnLike(@Model.CurrentTopic.Id, 'unlike','null');">
                    <img src="/images/utils/coravazado.png" title="Não gostei" alt="Não gostei" />
                    Não gostei
                </p>
            }
            else if (Model.UserLike == true)
            {
                <p id="linkLike">
                    <img src="/images/utils/coracheio.png" title="Gostei" alt="Gostei" />
                    Gostei
                </p>
                <p id="linkUnLike" onclick="ajaxLikeUnLike(@Model.CurrentTopic.Id, 'unlike','deuunlike');">
                    <img src="/images/utils/coravazado.png" title="Não gostei" alt="Não gostei" />
                    Não gostei
                </p>
            }
            else if (Model.UserLike == false)
            {
                <p id="linkLike" onclick="ajaxLikeUnLike(@Model.CurrentTopic.Id, 'like','deulike');">
                    <img src="/images/utils/coracheio.png" title="Gostei" alt="Gostei" /> Gostei
                </p>
                <p id="linkUnLike">
                    <img src="/images/utils/coravazado.png" title="Não gostei" alt="Não gostei" />
                    Não gostei
                </p>
            }
        </div>

        @if (Model.CurrentChannel.OwnerId != Model.CurrentUser.UserId && !Model.RolesCurrentUser.Contains("channelmanager")
        && !Model.RolesCurrentUser.Contains("topicmanager"))
        {
            <div id="btnReportTopic" style="margin-top:50px; width:120px;" >
                <a href="#modal-reportTopic" class="call-modal">
                    <p> Reportar tópico </p>
                </a>
            </div>
        }
    </div>

    <div id="divCanaisRelacionados">
        @*TODO*@
    </div>
</div>


<div id="divContentTopic" style="float:left; width: 644px;">
    <div class="contentPageTopic">
    @*Topico em formato texto*@
    @if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.exam)
    {
        @RenderPage("~/Website/Views/TopicAvalicao.cshtml")
    }
    else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.video)
    {
        @*Topico em formato de video*@
        @RenderPage("~/Website/Views/TopicVideo.cshtml")
    }
    else
    {
        @*Topico avaliacao*@
        @*Temporario
        
        <nav class="topicTopBar">
            <ul class="sbs">
                <li class="press"><a name="divNotification" onclick="EnableDiv(this.name,'currentDiv');"><p>Questionário</p></a></li>
                <li class="press"><a name="divMyChannels" onclick="EnableDiv(this.name, 'currentDiv');"><p>Desempenho</p></a></li>
            </ul>
        </nav>
        Fim Temporario*@
        @RenderPage("~/Website/Views/TopicText.cshtml")
    }
    </div>


@*</div>*@

@if (Model.CurrentChannel.OpenToComments == true)
{
    <script type="text/javascript">
        nimbusRegisterTopic = Number(@Model.CurrentTopic.Id);
    </script>
    
    <div id="divCommentsTopic">
        <div class="infoTitleChannel">
            <h2>Comentários</h2>
        </div>
        <div id="divAllComments" class="divComentario">
            @*{ Html.RenderAction("Comments", "Topic", new { id = Model.CurrentTopic.Id }); }*@
            
       @if(Model.Comments.Count() > 0)
       { 
            foreach(var comment in Model.Comments)
            {
               Html.RenderPartial("~/Website/Views/CommentPartials/PartialTopicComment.cshtml", comment);               
            }
            @* renato: favor deixar essa div aqui, tks. *@
            <div id="placeholderAfterLastComment"></div>
            if (Model.Comments.Count() == 5)
            {
                <button id="btn_skipComments" onclick="seeMoreComments(@Model.CurrentTopic.Id, 'divAllComments', 'skipComments','topic');">Ver mais</button>
            }
       }
       else
            {
                <div id="divNoComments" class="divComentario"><strong>Seja o primeiro a comentar!</strong></div>
            }
        </div>

        <div id="divAddNewComment">

            <div class="infoTitleChannel">
                <h2>Comentar</h2>
            </div>
            <textarea id="txtacomentario" cols="60" rows="5" style="width: 536px; border: 1px solid #87c240; margin-left: 48px; min-width: 536px; max-width: 536px"></textarea>
            <div class="replyTopBtn" id="btnNewComment" onclick="ajaxSaveNewComment(@Model.CurrentTopic.Id, @Model.CurrentTopic.ChannelId,'txtacomentario');">
                <p>
                    Enviar
                </p>
            </div>
        </div>

    </div>
}
else
{
     <div id="divCommentsTopic">
        <div class="infoTitleChannel">
            <h2>Comentários</h2>
        </div>
         <p>Este canal não permite comentários em seus tópicos.</p>
    </div>
}

</div>

@*Modal reportar um tópico*@
<section class="semantic-content" id="modal-reportTopic" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            Reportar Tópico
        </header>
        <div class="modal-content">
            <!-- The modals content -->
            <p>Reportar: @Model.CurrentTopic.Title</p>
            <p>
                Justificativa:
                <textarea id="txtJustificativa" name="txtJustificativa" rows="10" cols="60" required></textarea>
                <label style="color:red;" id="lblAvisoJustificativa"></label>
            </p>
        </div>
        <footer>
            <!-- Footer -->
            <div class="accRef" onclick="ajaxReportTopic(@Model.CurrentUser.UserId, @Model.CurrentTopic.AuthorId, @Model.CurrentTopic.Id);">
                <a href="#">Enviar</a>
            </div>
        </footer>
    </div>
    <a href="#!" id="closeModalMessage" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

