@model Nimbus.Web.Website.Models.TopicModel
@{
    ViewBag.Title = "Topico";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

<div id="divCapa">
    <img src="/@Model.Category.ImageUrl"  id=" imgcapa" height="192" alt="" width="864" />
</div>


<div id="divInfTopic" style="margin: -30px 20px 0px 20px; float:left; width: 200px;">

    <div style="width: 150px; margin: 0 auto;">
        <img src="/@Model.CurrentChannel.ImgUrl " id="imgTopic" height="100" alt="" width="150" />
    </div>

    <h1 style="text-align: center; margin-top:5px;">@Model.CurrentTopic.Title</h1>
    <p>@Model.CurrentTopic.Description</p>

    <h1 style="margin: 20px 10px 20px 10px;">
        <img src="/images/favorite_topic_icon.png" style="margin: 0px 0px -5px 10px;"/>
        @Model.NumFavorites
    </h1>

    <p style="text-align: center; border: solid;">
        @*Categoria*@
        @Model.Category.Name
    </p>

    <div id="divCanaisRelacionados">
        @*TODO*@
    </div>
</div>


<div style="float:right; width: 600px;">

    @*Topico em formato texto*@
    @if (Model.CurrentTopic.TopicType == Nimbus.DB.Enums.TopicType.exam)
    {
        @RenderPage("~/Website/Views/TopicAvalicao.cshtml")
    }
    else
    {
        @*Topico em formato de video*@
        if (Model.CurrentTopic.TopicType == Nimbus.DB.Enums.TopicType.video)
        {
            @RenderPage("~/Website/Views/TopicVideo.cshtml")
        }
        else
        {
            @*Topico avaliacao*@
            @RenderPage("~/Website/Views/TopicText.cshtml")
        }

        <div>


            <div>
                <h2>Comentários</h2>

                @if (Model.Comments.Count > 0) 
                { 
                    foreach (var comment in Model.Comments)
                    {
                        <div style="display:block; float:none">
                            <div style="float:left">
                                <img src="/@Model.Category.ImageUrl" id="imgTopic" height="192" alt="" width="864" />
                            </div>
                            <div style="float:left">
                                <p>@comment.Text</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <strong>Seja o primeiro a comentar!</strong>
                }
            </div>

            <div>

                <div style="width:100%; height:35px; display:block">
                    <button style="float:right; margin:20px;">Responder</button>
                </div>

                <h2 style="margin-bottom:5px;">Comentar</h2>
                <textarea id="comentario"></textarea>
            </div>

        </div>
    }


</div>







