@model Nimbus.Web.Website.Models.TopicModel
@{
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Topico";
}

@Scripts.Render("~/Scripts/ScriptsShared.js")
@Scripts.Render("~/Scripts/ViewChannelScripts.js")
@Scripts.Render("~/Scripts/ViewTopicScripts.js")

<div id="divCapa">
    <img src="@Model.Category.ImgTopChannel" id="imgcapa" height="192" alt="" width="864" />
</div>

<img src="@Model.CurrentTopic.ImgUrl " id="imgTopic" height="100" alt="" width="150" />

<div id="divInfTopic">
    @*<div style="width: 150px; margin: 0 auto;">
            <img src="@Model.CurrentTopic.ImgUrl " id="imgTopic" height="100" alt=""  width="150" />
        </div>*@

    <h1 id="nameTopicPage">
        @Model.CurrentTopic.Title <br />
        @Model.CurrentChannel.Name
    </h1>

    <p class="txtInfTopic">@Model.CurrentTopic.Description</p>

    <h1 class="favTopic">
        <img src="/images/favorite_topic_icon.png" style="margin: 0px 0px -5px 10px;" />
        s2 @Model.NumFavorites
    </h1>

    <div id="btnEditTopic" onclick="EditTopic();">
        <p>Editar</p>
    </div>

    <div class="infoTitleChannel">
        <h2>Categoria</h2>
        <p class="catTopic">
            @*Categoria*@
            @Model.Category.Name
        </p>
    </div>

    <div class="infoTitleChannel">
        <h2>Número de Likes</h2>
        <p class="numberIco">
            @*colocar icone de likes*@
            @Model.NumLikes
        </p>
    </div>

    <div id="divCanaisRelacionados">
        @*TODO*@
    </div>
</div>


<div id="divContentTopic" style="float:left; width: 644px;">
  
    <div class="contentPageTopic">
    @*Topico em formato texto*@
    @if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.exam)
    {
        @RenderPage("~/Website/Views/TopicAvalicao.cshtml")
    }
    else if (Model.CurrentTopic.TopicType == Nimbus.Model.Enums.TopicType.video)
    {
        @*Topico em formato de video*@
        @RenderPage("~/Website/Views/TopicVideo.cshtml")
    }
    else
    {
        @*Topico avaliacao*@
        @RenderPage("~/Website/Views/TopicText.cshtml")
    }
    </div>


@*</div>*@

@if (Model.CurrentChannel.OpenToComments == true)
{
    <script type="text/javascript">
        nimbusRegisterTopic = Number(@Model.CurrentTopic.Id);
    </script>
    <div id="divCommentsTopic">
        <div class="infoTitleChannel">
            <h2>Comentários</h2>
        </div>
        <div id="divAllComments" class="divComentario">
            @{ Html.RenderAction("Comments", "Topic", new { id = Model.CurrentTopic.Id }); }
            @* renato: favor deixar essa div aqui, tks. *@
            <div id="placeholderAfterLastComment"></div>
        </div>

        <div id="divAddNewComment">

            <div class="infoTitleChannel">
                <h2>Comentar</h2>
            </div>
            <textarea id="txtacomentario" cols="60" rows="5" style="width: 536px; border: 1px solid #87c240; margin-left: 48px; min-width: 536px; max-width: 536px"></textarea>
            <div class="replyTopBtn" id="btnNewComment" onclick="ajaxSaveNewComment(@Model.CurrentTopic.Id, @Model.CurrentTopic.ChannelId,'txtacomentario');">
                <p>
                    Enviar
                </p>
            </div>
        </div>

    </div>
}

</div>