@model Nimbus.Web.Website.Models.UserProfileModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Website/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery.form.js")
@Scripts.Render("~/Scripts/jquery.Jcrop.js")
@Styles.Render("~/Styles/jquery.Jcrop.css")

@Scripts.Render("~/Scripts/UserUtilis.js")
@Scripts.Render("~/Scripts/ViewUserScripts.js")


<div class="content-top">
    <div class="cont-left">
    @if (Model.User.Id != Model.CurrentUser.UserId)
        {
         <h1 class="userNProfBar">@Model.User.FirstName @Model.User.LastName</h1>
        }
        else
        {
         <h1 class="userNProfBar">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h1>
        }
    </div>
</div>

    <div class="proBar">
        <div class="profileImg">
            @if (Model.User.Id == Model.CurrentUser.UserId)
            {
                <a href="#modal-img" class="call-modal"><img src="@Model.CurrentUser.AvatarUrl" alt="Avatar" title="Editar Avatar" id="useravatar" /></a>
            }
            else
            {
                <img src="@Model.User.AvatarUrl" alt="@Model.User.FirstName" title="Avatar" id="useravatar" />
            }
        </div>

        @*Se for o usuário do perfil*@
        @if (Model.User.Id == Model.CurrentUser.UserId)
            {
                <a href="#modal-editProfile" class="call-modal">Editar</a>
            }
      

        <div class="aboutUser">
            <h1><label id="lblName">@Model.User.FirstName @Model.User.LastName</label></h1>
            <p>Idade:<label id="lblAge"> @Model.User.Age</label></p>
            @if (!string.IsNullOrEmpty(Model.User.City) && !string.IsNullOrEmpty(Model.User.State))
            {
                <p><label id="lblCity">@Model.User.City - @Model.User.State</label></p>
            }
            @if (!string.IsNullOrEmpty(Model.User.Country))
            {
                <p><label id="lblCountry">@Model.User.Country</label></p> 
            }
            @if (!string.IsNullOrEmpty(Model.User.Occupation))
            {
                <p>Profissão:<label id="lblOccupation"> @Model.User.Occupation</label></p>
            }
            @if (!string.IsNullOrEmpty(Model.User.Interest))
            {
                <p>Interesses:<label id="lblInterest">  @Model.User.Interest</label></p>
            }
            @if (!string.IsNullOrEmpty(Model.User.Experience))
            {
                <p>Experiências:<label id="lblExperience">  @Model.User.Experience</label></p>
            }
            @if (!string.IsNullOrEmpty(Model.User.About))
            {
                <p>Outras informações: </p>
                <p class="AboutUser-other"><label id="lblAbout"> @Model.User.About</label></p>
            }

        </div>

        @*Se não for o usuário*@
        @if (Model.User.Id != Model.CurrentUser.UserId)
        {
            <a href="#modal-text" class="call-modal">
                <div class="sendMessage">
                    <p>Enviar Mensagem</p> <!-- clicavel -->
                </div>
            </a>
        }
        else
        {
            <div class="participation">
                <h1>Participação</h1>
                <p>@Model.User.Interaction pontos</p>
            </div>
        }
        <div class="chanPaid">
            <h1>Canais Pagos</h1>
            <div class="channels">
                @foreach (var item in Model.ChannelPaid)
                {
                    <div class="chanPaidImg">
                        <img src="@item.ImgUrl" alt="@item.Name" width="40" height="40" /><!--title="blabla-->
                    </div>
                }
            </div>
        </div>

    </div>

    @*Modal section*@
    <section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-inner">
            <header id="modal-label"><!-- Header --></header>
            <div class="modal-content">
                <!-- The modals content -->
                <p>Para: @Model.User.FirstName @Model.User.LastName</p>
                <p>
                    Assunto:
                    <input id="inpTitleMsg" name="inpTitleMsg" type="text" maxlength="100" />
                </p>
                <p>
                    <textarea id="txtTextMsg" name="txtTextMsg" rows="10" cols="60" required class="ckeditor"></textarea>
                </p>
            </div>
            <footer>
                <!-- Footer -->
                <div class="accRef">
                    <button onclick="SendMessageProfile(@Model.User.Id);">Enviar</button>
                </div>
            </footer>
        </div>
        <a href="#!" id="closeModalMessage" class="modal-close" title="Close this modal" data-close="Close"
           data-dismiss="modal">×</a>
    </section>

    <section class="semantic-content" id="modal-img" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-inner">
            <header id="modal-label">
                <!-- Header -->
                Editar avatar
            </header>
            <div class="modal-content">
                <!-- The modals content -->
                <div id="divUpload">
                    <form action='/userprofile/upload' method="post" enctype="multipart/form-data" name="imagem_original">
                        <input type="file" name="imagem" />
                        <input type="submit" value="Carregar" class="hidden" id="upload" />
                    </form>
                </div>
                <div id="divCropImg" style="display:none">
                    <form action='/userprofile/crop' method="post" enctype="multipart/form-data" name="crop">
                        <input type="hidden" name="url" />
                        <input type="hidden" name="x1" id="x1" />
                        <input type="hidden" name="x2" id="x2" />
                        <input type="hidden" name="y1" id="y1" />
                        <input type="hidden" name="y2" id="y2" />
                        <input type="submit" value="Recortar" class="hidden" id="recortar" />
                    </form>
                    <img src="" class="hidden" id="imagem_crop" />
                </div>
            </div>
            <footer>
                <!-- Footer -->
            </footer>
        </div>
        <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
           data-dismiss="modal">×</a>
    </section>

<section class="semantic-content" id="modal-editProfile" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            <!-- Header -->
            Editar perfil
        </header>
        <div class="modal-content">
            <!-- The modals content -->
            <p><label style="color:black">Nome: </label> <input id="txtFirstName" value="@Model.User.FirstName" /></p>
            <p><label style="color:black">Sobrenome: </label><input id="txtLastName" value="@Model.User.LastName" /></p>
            <p><label style="color:black">Cidade: </label><input id="txtCity" value="@Model.User.City" /></p>
            <p><label style="color:black">Estado: </label><input id="txtState" value="@Model.User.State" /></p>
            <p><label style="color:black">País: </label><input id="txtCountry" value="@Model.User.Country" /></p>
            <p><label style="color:black">Profissão: </label><input id="txtOccupation" value="@Model.User.Occupation" /></p>
            <p><label style="color:black">Interesses: </label><input id="txtInterest" value="@Model.User.Interest" /></p>
            <p><label style="color:black">Experiência: </label><input id="txtExperience" value="@Model.User.Experience" /></p>    
            <p><label style="color:black">Outras informações: </label><input id="txtAbout" value="@Model.User.About" /></p>           
        </div>
        <footer>
            <!-- Footer -->
            <button id="btnSaveEdit" onclick="SaveEditProfile();">Salvar</button>
        </footer>
    </div>
    <a href="#!" id="closeModalEdit" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

        @if(Model.User.Id == Model.CurrentUser.UserId)
        { 
            <div style="float:left;">
            @RenderPage("~/Website/Views/PrivateProfileTopBar.cshtml")
            </div>
        }
        else
        {
            <div style="float: left; background: #f1f2f2">
           @RenderPage("~/Website/Views/PublicUserContent.cshtml")
            </div>
        }


    @*Sempre manter no fim da página*@
    <script type="text/javascript">
        CKEDITOR.replace('txtTextMsg', {
            toolbar: [
                { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
                ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
                '/',																					// Line break - next group will be placed in new line.
                { name: 'basicstyles', items: ['Bold', 'Italic'] }
            ]
        });
    </script>

    <script type="text/javascript">
        var jcrop;

        $(document).ready(function () {

            $(document).on('change', 'input[name=imagem]', function () {
                $("#upload").click();
            });

            $('form[name=imagem_original]').ajaxForm({
                dataType: 'json',
                success: function (data) {
                    $('input[name=url]').val(data.url);
                    $("#imagem_crop").attr("src", data.url);
                    $("#imagem_crop").removeClass("hidden");
                    $("#divCropImg").attr("style", "display:block");
                    ativarJCrop();
                }
            });
            $('form[name=crop]').ajaxForm({
                dataType: 'json',
                success: function (data) {
                    //jcrop.destroy();
                    $("#useravatar").attr("src", data.url);
                    $("#smallavatar").attr("src", data.url);
                    //document.getElementById("useravatar").src = data.url;
                    //fechar modal aqui
                    $("#modal-img").attr("style", "display:none");
                }
            });
        });

        function showCoords(c) {
            $("#x1").val(c.x);
            $("#x2").val(c.x2);
            $("#y1").val(c.y);
            $("#y2").val(c.y2);

            $("#recortar").removeClass("hidden");
        }

        function ativarJCrop() {
            $('#imagem_crop').Jcrop({
                bgColor: 'black',
                minSize: [200, 200],
                bgOpacity: .4,
                aspectRatio: 1,
                onSelect: showCoords
            });
        }
    </script>

