@model Nimbus.Web.Notifications.ModeratorNotificationModel
@{ string mediumAvatarUrl = Model.SenderAvatarUrl.Replace("/av130x130/", "/av60x60/"); }
<div class="divNotification" style="display:block;" id="notifModerator_@Model.Guid">
    @*para cada item da lista que ele recber//TODO*@
    <div class="imgNotificationCrop">
        <img class="imgNotification" src="@mediumAvatarUrl" />
    </div>
    <div class="attChoice">
        @*<button id="btnAccept" onclick="">Aceitar</button>*@
        <div class="btnAccept" onclick="AcceptOrNotBeModerator(@Model.ChannelId, true, '@Model.Guid');">
            <p>Aceitar</p>
        </div>

        @*<button id="btnDecline" onclick="">Recusar</button>*@
        <div class="btnRefuse" onclick="AcceptOrNotBeModerator(@Model.ChannelId, false, '@Model.Guid');">
            <p>Recusar</p>
        </div>
    </div>
    <p class="timeNotification">
        @*hora x     data x*@
        @Model.Time - @Model.Date
    </p>
    <p class="txtNotification">
        @Model.SenderName convidou você para ser moderador do canal <a href="/channel/index/@Model.ChannelId">@Model.ChannelName</a>.
    </p>
</div>