@using Nimbus.Model
@model Nimbus.Web.Notifications.TopicNotificationModel
@{
    //arruma arquivo do topic image =p
    string img60x60 = "";
    if(Model.TopicImage != null)
    {
        //TODO: imagens 60x60
        img60x60 = Model.TopicImage.ToLower().Replace("/tp150x100/", "/tp60x60/");
        img60x60 = img60x60.Replace("/category/", "/ca60x60/");
    }
}

<div class="divNotification" style="display:block;">
    <div class="imgNotificationCrop">
        <img class="imgNotification" src="@img60x60" />
    </div>
    <p class="timeNotification">
        @*hora x     data x*@
        @Model.Time - @Model.Date
    </p>
    <p class="txtNotification">
        @if(Model.NotificationType == NotificationTypeEnum.newtopic){
            <text>
            Um novo tópico foi criado:
            <a href="/topic/index/@Model.TopicId"><strong>@Model.TopicName</strong></a>
            </text>
        }
        else if (Model.NotificationType == NotificationTypeEnum.edittopic)
        {
            <text>O tópico <a href="/topic/index/@Model.TopicId"><strong>@Model.TopicName</strong></a> foi modificado.</text>
        }
        else if (Model.NotificationType == NotificationTypeEnum.deletetopic)
        {
            <text>O tópico <a href="/topic/index/@Model.TopicId"><strong>@Model.TopicName</strong></a> foi removido.</text>
        }
        
    </p>
</div>