@model Nimbus.Web.Notifications.MessageNotificationModel
@{ string mediumAvatarUrl = Model.SenderAvatarUrl.Replace("/av130x130/", "/av60x60/"); }
<div class="divNotification" style="display:block;">
    <div class="imgNotificationCrop">
        <img class="imgNotification" src="@mediumAvatarUrl" />
    </div>
    <p class="timeNotification">
        @*hora x     data x*@
        @Model.Time - @Model.Date
    </p>
    <p class="txtNotification">
        <strong>@Model.SenderName</strong> enviou uma mensagem a você: <a href="@Model.MessageId"><strong>@Model.Subject</strong></a>
    </p>
</div>