@model Nimbus.Web.Notifications.MessageNotificationModel
<div class="divNotification" style="display:block;">
    <div>
        <img class="imgNotification" src="@Model.SenderAvatarUrl" />
    </div>
    <p class="timeNotification">
        @*hora x     data x*@
        @Model.Time - @Model.Date
    </p>
    <p class="txtNotification">
        <strong>@Model.SenderName</strong> enviou uma mensagem a você: <a href="@Model.MessageId"><strong>@Model.Subject</strong></a>
    </p>
</div>