@model Nimbus.Model.Bags.MessageBag
@{ string mediumAvatarUrl = Model.AvatarUrl.Replace("/av130x130/", "/av60x60/"); }
<div id="divMesgExpand_@Model.Id" style="margin-top:30px; background-color:red;" >
    <a href='/userprofile/index/@Model.Id'>
        <div class="postHeImg_m">
            <img src="@mediumAvatarUrl" width="60px;" height="60px;">
        </div>
    </a>
    <div onclick="ajaxHiddeMsg('divMesgExpand_@Model.Id');">
        <nav class="postHeaderLeft_m">
            <ul class="sbs">
                <li><a href="userprofile/index/@Model.SenderId"> @Model.UserName</a></li>
                <li>@Model.Title</li>
            </ul>
        </nav>
        <nav class="postHeaderRight_m">
            <ul class="sbs">
                <li>@string.Format("{0:d/M/yyyy}", @Model.Date)</li>
                <li>@string.Format("{0:HH:mm}", @Model.Date)</li>
            </ul>
        </nav>
        <div class="postContent_m">
            <p>@Model.Text </p>
        </div>
    </div>
</div>
