
@model Nimbus.Model.Bags.TopicBag

        @*Imagem e texto*@
        <div class="divTopic-grade">
            <a href="/topic/index/@Model.Id">
                <div class="headerTopic-grade">
                    <h1>@Model.Title</h1>
                    <img src="@Model.ImgUrl" alt="@Model.TopicType.ToString()" title="@Model.Title" width="180" height="100">
                </div>

                <p class="contentTopic-grade">
                    @Model.Description
                </p>
            </a>
            <div class="footerTopic-grade">
                @if (Model.UserReadLater == true)
                {
                    <div class="btnLeftTopic-grade" id="divReadLater_@Model.Id" onclick="ajaxTopicReadLater(@Model.Id, 'null', 'false');">
                        <p id="pReadLater_@Model.Id">Marcado</p> 
                    </div>
                }
                else
                {
                    <div onclick="ajaxTopicReadLater(@Model.Id, 'null', 'true');" id="divReadLater_@Model.Id" class="btnLeftTopic-grade">
                        <p id="pReadLater_@Model.Id">Ler mais tarde</p>
                    </div>
                }

                @if (Model.UserFavorited == false)
                    {
                        <div id="divTpfvt_@Model.Id" class="btnRightTopic-grade" onclick="ajaxFavoritedTopic(@Model.Id, 'abstract');">
                            <p><img id="imgFvt_@Model.Id" src="/images/utils/starc.png" /></p> @*adicionar aos favoritos*@
                        </div>
                    }
                    else
                    {
                    <div id="divTpfvt_@Model.Id" class="btnRightTopicIsFavorited-grade" onclick="ajaxFavoritedTopic(@Model.Id, 'abstract');">
                        <p><img id="imgFvt_@Model.Id" src="/images/utils/starv.png"/></p> @*adicionar aos favoritos*@
                    </div>
                }
            </div>
        </div>
