@model Nimbus.Model.Bags.CommentBag
@{ string mediumAvatarUrl = Model.AvatarUrl.Replace("/av130x130/", "/av60x60/"); }
@if (Model.IsParent)
{
    //precisa do <text> pq a tag nao fecha =P
    <text><div class="firstBlockComment"></text>
} else {
    <text><div id="divChildComment_@Model.Id" class="divChildComment"></text>
}
<div id="divComment_@Model.Id">
    <div style="float:left">
        <img src="@mediumAvatarUrl" id="imgTopic_@Model.Id" height="48" alt="" width="48" />
    </div>
    <div class="divCommentContent">
        <div class="delComment">           
            @if (Model.IsRepotable)
            {
               <a href="#modal-reportComment">
                 <img id="btnReportComment_@Model.Id" class="cpointer" src="/images/utils/report.png" title="Reportar comentário" alt="Reportar comentário" />
               </a>
            }
            @if (Model.IsDeletable)
            {
                <img id="btnDelete_@Model.Id" class="cpointer" title="Excluir" alt="Excluir" src="/images/utils/delete.png" onclick="ajaxDeleteComment(@Model.Id,'divComment_@Model.Id' );" />
            }
            @if(Model.IsPageChannel == true)
            {
               <img id="btnNotNew_@Model.Id" class="cpointer" title="Marcar como lido" alt="Marcar como lido" src="/images/utils/delete.png" onclick="ajaxNotIsNewComment(@Model.Id,'divComment_@Model.Id' );" />
            }
        </div>
        <p class="titleCommentContent">
            <label id="lblUserName_@Model.Id" style="color: #2b2d2e; font-weight: bold; font-size: small">@Model.UserName</label>
            <label id="lblPostedOn_@Model.Id" style="color: #bcbec0; font-weight: normal; font-size: small">@Model.PostedOn</label>
        </p>
        <p class="txtCommentContent">
            <label id="lblText_@Model.Id">@Model.Text</label>
        </p>
    </div>
</div>

@*Modal reportar um cometário*@
<section class="semantic-content" id="modal-reportComment" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            Reportar comentário
        </header>
        <form id="formReportComment" onsubmit="return false;">
         <div class="modal-content">
            <!-- The modals content -->
            <div class="divformModal">
                 <p>Reportar comentário realizado por</p>
                 <p class="modalUser">@Model.UserName</p>
            </div>
             <div class="divformModal">
                 <p>Comentário reportado</p>
                 <p>"<i>@Model.Text</i>"</p>
                     </div>
             <div class="divformModal">
                 <p>Justificativa</p>
                 <textarea id="txtJustificativa" name="txtJustificativa" rows="10" cols="60" required></textarea>
                     </div>
        </div>
         <footer class="fooModal">
            <!-- Footer -->  
             <input type="submit" class="inputSubmit" value="Enviar" onclick="ajaxReportComment(@Model.UserId, @Model.Id);" id="enviarReportCmt" />
        </footer>    
        </form>
    </div>
    <a href="#!" id="closeModalReportCmt" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>

</div> @* essa tag fecha a div do primeiro if*@