@model Nimbus.Model.Bags.CommentBag

<div id="divComment_@Model.Id">
    <div style="float:left">
        <img src="@Model.AvatarUrl" id="imgTopic_@Model.Id" height="48" alt="" width="48" />
    </div>
    <div class="divCommentContent">
        <div class="delComment">           
            @if (Model.IsRepotable)
            {
               <a href="#modal-reportComment">
                 <img id="btnReportComment_@Model.Id" class="cpointer" src="/images/utils/report.png" title="Reportar comentário" alt="Reportar comentário" />
               </a>
            }
            @if (Model.IsDeletable)
            {
                <img id="btnDelete_@Model.Id" class="cpointer" title="Excluir" alt="Excluir" src="/images/utils/delete.png" onclick="ajaxDeleteComment(@Model.Id,'divComment_@Model.Id' );" />
            }
        </div>
        <p class="titleCommentContent">
            <label id="lblUserName_@Model.Id" style="color: #2b2d2e; font-weight: bold; font-size: small">@Model.UserName</label>
            <label id="lblPostedOn_@Model.Id" style="color: #bcbec0; font-weight: normal; font-size: small">@Model.PostedOn</label>
        </p>
        <p class="txtCommentContent">
            <label id="lblText_@Model.Id">@Model.Text</label>
        </p>
    </div>
</div>

@*Modal reportar um cometário*@
<section class="semantic-content" id="modal-reportComment" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-inner">
        <header id="modal-label">
            Reportar comentário
        </header>
        <form id="formReportComment">
         <div class="modal-content">
            <!-- The modals content -->
            <p>Reportar comentário realizado por: @Model.UserName</p>
            <p>Comentário reportado: " <i>@Model.Text</i> "</p> 
            <p>
                Justificativa:
                <textarea id="txtJustificativa" name="txtJustificativa" rows="10" cols="60" required ></textarea>
            </p>
        </div>
         <footer>
            <!-- Footer -->  
             <input type="submit" class="inputSubmit" value="Enviar" onclick="ajaxReportComment(@Model.UserId, @Model.Id);" id="enviarReportCmt" />
        </footer>    
        </form>
    </div>
    <a href="#!" id="closeModalMessage" class="modal-close" title="Close this modal" data-close="Close"
       data-dismiss="modal">×</a>
</section>